/* Blog Page Styles */

.gh-blog__main-block {
    width: 116.5rem;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .gh-blog__main-block {
        max-width: 100vw;
        padding: 0 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gh-blog__main-block {
        max-width: 100vw;
        padding: 0 4rem;
    }
}

.gh-post-list-wrapper {
    display: flex;
    gap: 5.4rem;
    align-items: flex-start;
}

@media (max-width: 767px) {
    .gh-post-list-wrapper {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gh-post-list-wrapper {
        gap: 2.5rem;
    }
}

.gh-post-list {
    width: 77.6rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gh-post-list {
        width: 65%;
    }
}

@media (max-width: 767px) {
    .gh-post-list {
        width: 100%;
    }
}

.gh-post-list__item {
    display: flex;
    flex-direction: column;
}

.gh-post-list__item-author-date {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
}

.gh-post-list__item-preview {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
}

.gh-post-list__item-preview p {
    margin: 0;
}

.gh-post-list__item-preview img {
    display: block;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 5.4rem 11.6rem rgba(0, 0, 0, 0.05), 0 0.676164rem 1.56937rem rgba(0, 0, 0, 0.025);
    border-radius: 3rem;
}

.gh-post-list__pagination {
    margin-bottom: 9rem;
}

@media (max-width: 767px) {
    .gh-post-list__pagination {
        margin-bottom: 0;
    }
}

.gh-blog-sale {
    position: relative;
    padding: 4rem 3rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 34rem;
    box-shadow: 0 5.4rem 11.6rem rgba(0, 0, 0, 0.05), 0 0.676164rem 1.56937rem rgba(0, 0, 0, 0.025);
    border-radius: 2rem;
    background: #F5F5DE;
}

@media (max-width: 767px) {
    .gh-blog-sale {
        max-width: 100%;
        align-self: center;
        margin-bottom: 4rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gh-blog-sale {
        width: 35%;
    }
}

.gh-blog-sale__logo {
    width: 18.3rem;
    height: auto;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gh-blog-sale__logo {
        width: 13.3rem;
    }
}

.gh-blog-sale__heading {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 1.2;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gh-blog-sale__heading {
        font-size: 2.2rem;
    }
}

.gh-blog-sale__advantage-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.gh-blog-sale__advantage-list-item {
    display: flex;
    gap: 1rem;
}

.gh-blog-sale__advantage-list-item-text {
    margin-top: 0.1rem;
}

.gh-blog-sale__advantage-list-item svg {
    align-self: flex-start;
    flex-shrink: 0;
}

.gh-blog-sale__phone-note {
    transform: translate(30px, 0);
}

