/* Request Therapist Success Page Styles */

.gh-request-therapist-success__container-outer {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.gh-request-therapist-success__container-inner {
    background: #fff;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5.4rem 11.6rem rgba(0, 0, 0, 0.05), 0 0.676164rem 1.56937rem rgba(0, 0, 0, 0.025);
    width: 55rem;
    margin: 5rem auto 10rem;
    padding: 2rem 3rem;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .gh-request-therapist-success__container-inner {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 29rem;
        flex-direction: column;
        padding: 1rem 2rem 2rem;
    }
}

.gh-request-therapist-success__soft-light {
    z-index: -1;
    position: absolute;
    left: -98rem;
    top: -13rem;
    width: 127rem;
    height: 96.3rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(213, 213, 94, 0.5) 0%, rgba(211, 211, 94, 0.3) 27.6%, rgba(211, 211, 94, 0.24) 57.81%, rgba(212, 212, 94, 0) 100%);
}

.gh-request-therapist-success__header {
    font-size: 1.6rem;
}

.gh-request-therapist-success__description {
    font-size: 1.4rem;
}

.gh-request-therapist-success__photo {
    border-radius: 50%;
    overflow: hidden;
    width: 15rem;
    height: auto;
    margin-left: auto;
    flex-shrink: 0;
    align-self: center;
}

@media (max-width: 767px) {
    .gh-request-therapist-success__photo {
        margin-right: auto;
        margin-top: 1rem;
    }
}

