<div class="d-flex justify-content-center p-3">
    <div class="row gy-3 justify-content-center">
        {% include '@landing/partials//_ol-list-card.html.twig' with {
            title: "Оплата",
            cardClass: ' text-start shadow-sm col-12',
            cardTextClass: '  mt-3 ms-1',
            list: [
                'Клиент вносит полную оплату за каждую следующую встречу. Запись на следующую встречу происходит только после ее полной предоплаты.',
                'Клиент может отменить или перенести встречу за 24 часа, не оплачивая ее.',
                'Встреча, отмененная менее, чем за 24 часа, оплачивается в полном размере.',
                'Если психолог отменяет встречу меньше, чем за 24 часа до начала сессии, он компенсирует клиенту следующую встречу и она проходит бесплатно.',
            ]
        } %}
        {% include '@landing/partials//_ol-list-card.html.twig' with {
            title: "Клиент",
            cardClass: ' text-start shadow-sm col-12',
            cardTextClass: '  mt-3 ms-1',
            list: [
                'Клиент приходит на встречу в оговоренное время. При опоздании время консультации не продлевается.',
                'Клиент посещает встречи регулярно для достижения результата: не реже, чем 1 раз в 10 дней и не чаще, чем 3 раза в неделю.',
                'Если клиент пришел на сессию в состоянии алкогольного, наркотического опьянения, либо под действием сильных психотропных препаратов, психолог имеет право считать сессию оплаченной и пропущенной.',
                'Длительность индивидуальной консультации 50 минут, семейной/парной консультации 80 минут.',
            ]
        } %}
        {% include '@landing/partials//_ol-list-card.html.twig' with {
            title: "Психолог",
            cardClass: ' text-start shadow-sm col-12',
            cardTextClass: '  mt-3 ms-1',
            list: [
                'На консультации психолог следует запросу клиента, предъявляя ему свои наблюдения, мнения, версии и гипотезы.',
                'Психолог не даёт советы и не принимает решения вместо клиента.',
                'По запросу клиента, психолог обязуется предъявить правдивую информацию о методах работы, своём опыте, образовании и всего, что касается работы с клиентом по запросу клиента.',
                'Психолог обязуется сохранять конфиденциальность встреч. Происходящее на сессии не может быть разглашено кому-либо из членов семьи, друзьям, родственникам или посторонним людям без согласия клиента. Исключением из правил является вынесение случая клиента (без озвучивания имени клиента) на супервизию.',
                'Психолог имеет право нарушить конфиденциальность и сообщить в соответственные органы в случае, если клиент сообщил о содеянном преступлении, о намерении совершить преступление или о намерении совершить суицид.',
                'На период предоставления консультаций психолог не имеет права вступать с клиентом в дружеские, семейные и деловые отношения.',
                'Психолог имеет право направить клиента к психиатру, неврологу и другим специалистам, если видит в этом надобность.',
            ]
        } %}
    </div>
</div>