<div class="c19"><p class="c0"><span class="c18">ПРАВИЛА КОРИСТУВАННЯ</span></p>
    <p class="c0"><span class="c3">Договір про надання інформаційно-консультаційних послуг в режимі онлайн</span></p>
    <p class="c9 c13"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c5 c4">Ці правила користування (далі за текстом – «Правила») регулюють договірні відносини між</span>
    </p>
    <p class="c16 c17 c9"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c8">GoodHelp</span><span class="c5 c4">&nbsp;в особі Фізичної особи-підприємця Лося Дмитра Володимировича, що надалі іменується – Організатор, з однієї сторони, та</span>
    </p>
    <p class="c16 c9"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c8">Будь-якої фізичної особи</span><span class="c5 c4">, що має повну цивільну дієздатність, яка прийняла (акцептувала) дану пропозицію укласти договір (оферту) та своїми діями виявила намір приєднатися до цього Договору, надалі іменується – Клієнт, з другої сторони, в подальшому разом іменуються "Сторони", а кожний окремо - "Сторона".</span>
    </p>
    <p class="c16 c17 c9"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c5 c4">Ці правила користування адресовані необмеженому колу осіб (фізичним особам), і є офіційною публічною пропозицією Організатора, укласти з будь-яким Клієнтом Договір про надання інформаційно-консультаційних послуг що надаються в режимі онлайн в мережі Інтернет через веб-сайт за адресою: https://goodhelp.com.ua (далі за текстом – «Веб-сайт»).</span>
    </p>
    <p class="c7 c15"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c4">Уважно прочитайте та ознайомтесь з умовами даного Договору. Якщо Ви не згодні з його положеннями, користування сайтом https://goodhelp.com.ua має бути припинено. Якщо Ви продовжуєте використання Сайту Ви тим самим підтверджуєте, що повністю і беззастережно прийняли всі умови і положення даного Договору, підтверджуєте те, що такі умови Вам зрозумілі, та укладаєте Публічний договір з </span><span
                class="c4">ФОП </span><span class="c5 c4">Лось Дмитро Володимирович. Прийняття Клієнтом умов цих Правил (Акцепт) також є здійснення Клієнтом оплати послуг способами, визначеними у цих Правилах, відповідно до ч.2 ст. 642 Цивільного кодексу України.</span>
    </p>
    <p class="c16 c17"><span class="c5 c4">Нижче зазначені умови регулюють Ваші права та обов’язки щодо використання Сайту і послуг, які ми надаємо через Сайт.</span>
    </p>
    <p class="c7"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8">1.</span><span class="c4">&nbsp;</span><span class="c3">Терміни та визначення</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c4">1.1. </span><span class="c8 c6">Послуги</span><span class="c5 c4">&nbsp;(он-лайн послуги) – діяльність Організатора (включаючи його найманих працівників, субвиконавців, Психологів, інших уповноважених осіб які надають послуги за вказівкою Організатора) із надання клієнтові на його замовлення інформаційно консультаційних, психологічних та інших аналогічних послуг, що є предметом діяльності Організатора (відповідно до його зареєстрованих КВЕД) і пропонуються для надання невизначеному колу осіб через Сайт Організатора. Такі онлайн послуги не є медичними послугами, носять інформаційний та консультаційний характер і не вимагають від Організатора отримання ліцензії.</span>
    </p>
    <p class="c1"><span class="c5 c4">Вартість Послуг може змінюватися Організатором в односторонньому порядку залежно від кон'юнктури ринку під час надання послуг. </span>
    </p>
    <p class="c1"><span class="c4">1.2. </span><span class="c8 c6">Сайт Організатора</span><span class="c8 c6">&nbsp;(далі - Сайт)</span><span
                class="c4">&nbsp;– веб-сторінка в мережі Інтернет за адресою </span><span class="c2"><a class="c14"
                                                                                                        href="https://www.google.com/url?q=https://goodhelp.com.ua/&amp;sa=D&amp;source=editors&amp;ust=1656849029544436&amp;usg=AOvVaw3b2CdbJwgdqwt8C03qG7tp">https://goodhelp.com.ua/</a></span><span
                class="c5 c4">, за допомогою якої надаються он-лайн послуги та яка є офіційним джерелом інформування Клієнтів про Організатора, Психолога, послуги, що ним надаються та вартість таких послуг.</span>
    </p>
    <p class="c1"><span class="c4">1.3. </span><span class="c8 c6">Особистий кабінет</span><span class="c5 c4">&nbsp;– веб-сторінка, розміщена на Сайті Організатора до якої отримує персональний доступ Клієнт, після завершення процедури реєстрації. Через «Особистий кабінет» Клієнт здійснює запис на сеанс, обирає, погоджує та отримує послуги, здійснює оплату послуг. Клієнт несе всі ризики, пов'язані з використанням онлайн-сервісу «Особистий кабінет» будь-якою третьою особою, яка не мала на те повноважень та наслідками такого використання. В свою чергу, Організатор, після отримання повідомлення від Клієнта про виявлення випадку несанкціонованого доступу до «Особистого кабінету» третіми особами, які не мають на те повноважень, зобов'язується прикласти усіх можливих зусиль в рамках розумності щодо припинення можливості користуванням онлайн-сервісу «Особистий кабінет» не уповноваженими на те особами.</span>
    </p>
    <p class="c1"><span class="c4">1.4. </span><span class="c8 c6">Організатор</span><span class="c4">&nbsp;– Фізична особа-підприємець Лось Дмитро Володимирович, який є власником веб-сайту за посиланням </span><span
                class="c2"><a class="c14"
                              href="https://www.google.com/url?q=https://goodhelp.com.ua/&amp;sa=D&amp;source=editors&amp;ust=1656849029545435&amp;usg=AOvVaw2T-yTTS6kJFdA5Jv432rnC">https://goodhelp.com.ua/</a></span><span
                class="c5 c4">, наповнює платформу інформацією про Психолога, вартість послуг, перелік послуг, забезпечує технічний супровід он-лайн сеансу, надає Клієнту та Психологу платформу для отримання послуг від Психолога Організатора.</span>
    </p>
    <p class="c1"><span class="c4">1.5. </span><span class="c8 c6">Психолог</span><span class="c5 c4">&nbsp;– обрана Клієнтом на сайті Організатора особа, яка безпосередньо і/або опосередковано бере участь в наданні послуг Клієнтам за вказівкою і/або на замовлення Організатора. Між Психологом і Організатором окремо укладається необхідний договір, що регулює їх співпрацю. </span>
    </p>
    <p class="c1"><span class="c4">1.6. </span><span class="c8 c6">Вид послуг –</span><span class="c5 c4">&nbsp;індивідуальний сеанс; парний сеанс (для двох осіб), сімейна терапия (дві та більше особи); семінар; конференція; відео-курс. Всі види послуг надаються онлайн. Такі послуги, як семінари та конференції, можуть надаватись на території Клієнта за індивідуальним замовленням з подальшим укладанням індивідуального договору.</span>
    </p>
    <p class="c1"><span class="c4">1.7. </span><span class="c8 c6">Питання сеансу –</span><span class="c5 c4">&nbsp;тривоги; депресії; панічні атаки; психосоматичні ускладнення; розлади харчової поведінки; порушення сну; емоційна нестійкість, втрата самоповаги і любові до самого себе; труднощі у встановленні і збереженні відносин; переходи і значні зміни на життєвому шляху; вікові кризи; спад творчої активності; кар'єрний застій, складності вибору власного шляху; постановка і реалізація своїх цілей; розвиток емоційного інтелекту, та інші питання, опубліковані на сайті Організатора або теми, з якими прийшов клієнт.</span>
    </p>
    <p class="c1"><span class="c4">1.8. </span><span class="c8 c6">Сеанс</span><span class="c5 c4">&nbsp;– он-лайн спілкування обмежене часом, визначеним умовами даного Договору, Клієнта з Психологом без присутності третіх осіб, в тому числі технічного персоналу, щодо питань, які турбують Клієнта під час якого Психолог допомагає у формулюванні запиту Клієнта, та надає допомогу у вирішенні цього запиту за допомогою психологічної бесіди із застосуванням психологічних методик та технік.</span>
    </p>
    <p class="c7"><span class="c5 c4"></span></p>
    <p class="c11"><span class="c8">2.</span><span class="c4">&nbsp;</span><span class="c3">Загальні положення</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">2.1. Даний документ є офіційною пропозицією (публічною офертою) суб'єкта господарської діяльності Фізичної особи-підприємця Лося Дмитра Володимировича і містить всі істотні умови надання послуг, які згідно ст. 633, 641 Цивільного кодексу України, є однаковими для всіх контрагентів.</span>
    </p>
    <p class="c16"><span class="c5 c4">2.2. Цей Договір укладається шляхом надання повної і безумовної згоди (акцепту) Клієнта на укладення Договору в повному обсязі, без підпису письмового примірника Договору Сторонами. </span>
    </p>
    <p class="c16"><span class="c5 c4">2.3. Акцепт умов цього Договору є також акцептом Клієнта всіх інших угод, правил, подальших змін умов договору та інших документів, опублікованих на Сайті, які є невід'ємною частиною цього Договору, та які визначають порядок надання послуг Організатором та Психологом. Окремо жодні письмові примірники таких документів не підписуються.</span>
    </p>
    <p class="c1"><span class="c5 c4">2.4. Реєстрація на Сайті та/або оплата послуг через платіжну систему WayForPay або будь-яку іншу платіжну систему наявну на Сайті, відповідно до ч.2 ст. 642 Цивільного кодексу України вважається акцептом Договору між особою, що здійснила оплату і Організатором, та засвідчує факт її укладання.</span>
    </p>
    <p class="c1"><span class="c4">2.5. Клієнт не має права </span><span class="c4">уступати</span><span class="c5 c4">&nbsp;або яким-небудь іншим чином передавати свої права за цим Договором третім особам без попередньої письмової згоди Організатора.</span>
    </p>
    <p class="c1"><span class="c4">2.6. Організатор має право на свій розсуд без згоди Клієнта уступити або яким-небудь іншим чином передати свої права за цим Договором третім особам, надіславши Клієнту відповідне повідомлення на електронну пошту (e-mail), </span><span
                class="c4 c22">вказаний в реєстраційній формі Клієнта, або під час оплати в будь-якій платіжній системі, запропонованній на Сайті</span><span
                class="c5 c4 c22">.</span></p>
    <p class="c1"><span class="c5 c4">2.7. Внесення змін (доповнень) до цього Договору, зміна порядку, обсягу та умов надання Послуг, проводиться Організатором в односторонньому порядку шляхом обов'язкового розміщення зазначених змін (доповнень) на Сайті. Всі зміни та доповнення, що вносяться Організатором до цього Договору, вступають в силу і стають обов'язковими з моменту їх розміщення на Сайті. Всі додатки, зміни і доповнення до цього Договору є його складовою і невід'ємною його частиною.</span>
    </p>
    <p class="c1 c9"><span class="c4 c5"></span></p>
    <p class="c0"><span class="c8">3.</span><span class="c4">&nbsp;</span><span class="c3">Предмет договору</span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">3.1. Організатор зобов’язується на умовах та в порядку, визначеному цим Договором, надати Клієнтові запропоновані на Сайті інформаційно-консультаційні Послуги, через мережу Інтернет, шляхом залучення до безпосереднього надання послуг обраного Клієнтом Психолога, а Клієнт зобов’язується на умовах та в порядку, визначених цим Договором, прийняти та оплатити замовлені Послуги.</span>
    </p>
    <p class="c1"><span class="c5 c4">3.1.1. Саме Психолог безпосередньо та/або опосередковано надає Клієнту послуги шляхом проведення он-лайн сеансу з Клієнтом. Психолог самостійно визначає методи та способи надання послуг. </span>
    </p>
    <p class="c1"><span class="c5 c4">3.1.2. Організатор не надає психологічні послуги для Клієнта, а лише забезпечує організацію роботи між Клієнтом та Психологом. </span>
    </p>
    <p class="c1"><span class="c4">3.1.3. Організатор не бере участі в наданні Психологом послуг Клієнтам, не несе відповідальності за якість та обсяг наданих Психологом послуг </span><span
                class="c4">за договірними відносинами</span><span
                class="c5 c4">&nbsp;між Клієнтом та Психологом. </span>
    </p>
    <p class="c1"><span class="c5 c4">3.3. Організатор гарантує Клієнту, що кошти, внесені Клієнтом на відповідний баланс - зберігаються на такому балансі до проведення сеансу Клієнта з Психологом.</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8">4.</span><span class="c4">&nbsp;</span><span class="c3">Порядок надання послуг</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">4.1. Послуги надаються Клієнту психологом (-ами) з якими Організатор уклав окремий договір (трудовий чи інший цивільно - правовий договір), шляхом проведення сеансів он-лайн.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.2. На сайті Організатор розміщує інформацію про партнерів-психологів (прізвище, ім'я, фах, досвід, питання, в яких спеціалізується та інше), види послуг, що надаються, вартість таких послуг та питання, що можуть бути предметом сеансів з Клієнтом. Організатор не несе відповідальності за достовірність інформації, що стосується особистості Психолога.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.3. Після акцептування даного Договору Клієнт на сайті обирає Психолога, вид послуг, зазначає зручний час та дату для проведення сеансу. За результатами оброблення даних, обраних / наданих Клієнтом формується рахунок для сплати.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.4. Акцептуванням даного Договору Клієнт погоджується з умовами проведення сеансу та умовами даного договору.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.5. Клієнт здійснює оплату замовлених послуг на умовах, визначених у розділі 5 даного Договору.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.6. Послуга проводиться за повною передоплатою. Для отримання послуги Клієнт вносить необхідну суму на особистий баланс на Сайті. Без здійснення оплати сеанс не призначається та не проводиться.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.7. Організатор розміщує на сайті інформацію про психолога та час і дату у який можливо забронювати та провести/отримати сеанс/послугу.</span>
    </p>
    <p class="c1"><span class="c4">4.8. Клієнт має право не пізніше ніж за 24 години до години початку призначеного сеансу замінити: психолога, дату та/або час сеансу. Дата та час сеансу змінюється на сайті Організатора. Зміна психолога здійснюється шляхом скасування сеансу у заброньованого психолога та обрання іншого психолога з визначенням часу та дати сеансу. У випадку зміни психолога, з метою покращення надання послуг, Організатор має право уточнити у Клієнта причину такої заміни. Кошти за скасований завчасно (за 24 години до початку сеансу) сеанс не повертаються Клієнтові проте залишаються доступними для бронювання інших консультацій у системі. Клієнт має право здійснити відміну та/або перенесення сеансу тільки один раз. В інших випадках кошти Клієнту не повертаються, а сеанс вважається таким, що відбувся. За окремим погодженням з Організатором, Психолог право надати знижку Клієнту на призначення наступного сеансу у випадку, якщо сеанс </span><span
                class="c4">вважався</span><span class="c5 c4">&nbsp;проведеним не з вини Клієнта. Такі знижки окремо погоджуються Організатором з Психологом.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.9. Індивідуальний сеанс триває 50 хвилин, парний сеанс триває 80 хвилин.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.10. Сеанс розпочинається у час, визначений при запису. </span></p>
    <p class="c1"><span class="c4">У зв'язку з можливим виникненням технічних питань під час підключення Клієнта до системи GoodHelp перший сеанс може тривати менше, визначеного у п. 4.10. даного Договору, часу. Сеанс може бути скорочений на час затримки підключення Клієнта до системи, у якій надається послуга. </span><span
                class="c2">Час затримки початку сеансу, що стався з вини Клієнта не компенсується. </span><span
                class="c5 c4">Якщо затримка сталась з вини Організатора та/або Психолога та становить не більше 5 хвилин час запізнення компенсується в поточному сеансі; якщо затримка становить до 15 хвилин час запізнення компенсується в наступних сеансах за домовленістю з психологом.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.11. Психолог під час сеансу зобов'язаний надати Клієнту всю можливу психологічну допомогу у вигляді психологічного консультування, психологічної корекції та психологічного інформування; зобов'язаний вислуховувати, підтримувати, звертати увагу на деталі, давати зворотній зв'язок стосовно почуттів, висловлювань та дій Клієнта; не використовувати до клієнта медикаментозне лікування; дотримуватись етичних норм, мати шанобливе ставлення до Клієнта, не дискримінувати Клієнта, організувати роботу з Клієнтом таким чином, щоб а ні її процес, а ні її результати не шкодили здоров'ю, психологічному стану та соціальному становищу Клієнта та пов'язаних з ним осіб, має право використовувати апробовані психодіагностичні та психокорекційні методи.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.12. У випадку обрання Клієнтом послуги «відео-курс» послуга вважається наданою після розміщення відео курсу в особистому кабінеті та/або перегляду курсу на сайті Організатора.</span>
    </p>
    <p class="c1"><span class="c5 c4">4.13. Організатор не несе відповідальність, якщо Клієнт пропустив сеанс з Психологом. Кошти за такий сеанс не повертаються Клієнтові. </span>
    </p>
    <p class="c1"><span class="c4">4.14. Якщо Клієнт обирає індивідуальний сеанс, це передбачає його індивідуальне спілкування з Психологом без участі сторонніх осіб. </span><span
                class="c4">На Сеансі мають бути присутніми тільки ті особи, які записувались на нього, та у кількості, передбаченій видом Сеансу. У разі присутності на Сеансі сторонніх осіб або осіб у кількості, </span><span
                class="c4">непередбаченій</span><span
                class="c4">&nbsp;видом сеансу - Психолог зупиняє проведення Сеансу.</span><span class="c5 c4">&nbsp;Кошти за такий Сеанс не повертаються, а сам Сеанс вважається таким, що був проведений. </span>
    </p>
    <p class="c1"><span class="c5 c4">4.15. Оплата Клієнтом Сеансу означає достатнє й повне ознайомлення Клієнта з характеристиками оплачуваних послуг, інформацією про строки їх надання, очікувані обсяги, усією інформацією та відомостями, надання яких необхідне Клієнтові для свідомого і зваженого вибору. А також ознайомлення зі змістом та обсягом, вартістю і способом її визначення, строками, порядком і характеристиками надання послуг Психологом, зі змістом даного Договору в повному обсязі та у доступній формі.</span>
    </p>
    <p class="c0 c9"><span class="c3"></span></p>
    <p class="c0"><span class="c8">5.</span><span class="c4">&nbsp;</span><span class="c3">Вартість послуг і порядок проведення розрахунків</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">5.1. Вартість послуг становить вартість всіх наданих Клієнту послуг.</span></p>
    <p class="c1"><span class="c5 c4">5.2. Вартість послуг формується на базі обраних Клієнтом видів послуг та кількості сеансів.</span>
    </p>
    <p class="c1"><span
                class="c4">5.3. Вартість однієї послуги та / або одного сеансу зазначається на сайті Організатора</span><span
                class="c4">&nbsp;</span><span class="c5 c4">. При цьому, вартість сеансу може відрізнятися залежно від обраного Клієнтом Психолога.</span>
    </p>
    <p class="c1"><span class="c4">5.4. Для здійснення замовлення сеансу Клієнт вносить кошти на свій особистий баланс з допомогою платіжної системи WayForPay </span><span
                class="c4">або іншої системи, запропонованої на сайті Організатора</span><span
                class="c4">, у сумі, </span><span class="c4">визначеній</span><span class="c5 c4">&nbsp;за результатами оброблення замовлення Клієнта. Клієнт здійснює оплату на умовах 100 % передоплати замовлення. Внесені кошти зберігаються на балансі Клієнта до їх списання за відповідний сеанс з Психологом.</span>
    </p>
    <p class="c1"><span class="c5 c4">5.5. Оплата послуг здійснюється шляхом автоматичного списання коштів з балансу Клієнта. </span>
    </p>
    <p class="c1"><span class="c5 c4">5.8. Платежі, здійснені Клієнтом, до проведення сеансу зберігаються на балансі Клієнта в системі. Після надання послуг Клієнтові кошти автоматично надходять Організатору, який в свою чергу здійснює розрахунок з Психологом за фактично проведений сеанс на умовах, визначених окремо укладеним Договором.</span>
    </p>
    <p class="c1"><span class="c5 c4">5.9. У випадку скасування Клієнтом сеансу менше ніж за 24 години до початку сеансу сплачені Клієнтом кошти за один сеанс не повертаються, а одразу зараховуються Організатору. </span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8">6.</span><span class="c4">&nbsp;</span><span
                class="c3">Обов'язки та права сторін</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c4">6.1. </span><span class="c8 c6">Організатор зобов'язаний</span><span
                class="c5 c4">:</span></p>
    <p class="c1"><span class="c5 c4">6.1.1. Організувати проведення сеансу в строк, обраний &nbsp;Клієнтом;</span></p>
    <p class="c1"><span
                class="c5 c4">6.1.2. Розмістити інформацію про Психолога, послуги, вартість послуг на сайті;</span>
    </p>
    <p class="c1"><span class="c4">6.1.3. Забезпечити технічну можливість зв'язку з психологом на сайті;</span></p>
    <p class="c1"><span class="c5 c4">6.1.4. Інформувати Клієнта про перенесення з боку психолога дати та/або часу сеансу та погодити з Клієнтом інший час та/або дату сеансу.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.1.5. Технічно забезпечити можливість погодження нової дати та часу проведення сеансу у випадку скасування / перенесення сеансу з боку Клієнта, якщо таке скасування / перенесення відбулось більше ніж за 24 години до призначеної дати та часу сеансу.</span>
    </p>
    <p class="c1"><span
                class="c5 c4">6.1.6. Здійснити перерахунок коштів Психологу за проведений сеанс з Клієнтом.</span>
    </p>
    <p class="c1"><span class="c4">6.2. </span><span class="c6 c8">Організатор має право</span><span
                class="c5 c4">:</span>
    </p>
    <p class="c1"><span class="c5 c4">6.2.1. У випадку скасування Клієнтом сеансу менше ніж за 24 години погодити з Клієнтом іншу дату та час проведення сеансу;</span>
    </p>
    <p class="c1"><span class="c5 c4">6.2.2. Замінити психолога до початку проведення сеансу, повідомивши про заміну Клієнта;</span>
    </p>
    <p class="c1"><span class="c5 c4">6.2.3. Без узгодження з Клієнтом встановлювати і скасовувати різноманітні знижки, маркетингові акції, пільги, засновувати дисконтні програми, програми лояльності тощо.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.2.4. Відмовити Клієнту у наданні Послуг за Договором у випадку виявлення порушення Клієнтом умов Правил користування або законодавства України.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.2.5. Внести зміни, доповнення до даного договору без додаткового та/або окремого погодження з Клієнтом.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.2.6. У випадку виявлення акцептування даного договору особою, що не має повної цивільної дієздатності відмовити Клієнту у проведенні сеансу до отримання відповідного письмового погодження від законного представника такої особи.</span>
    </p>
    <p class="c1"><span class="c4 c6">6.3.</span><span class="c4">&nbsp;</span><span
                class="c10 c8 c6">Психолог має право:</span></p>
    <p class="c1"><span class="c5 c4">6.3.1. На власний розсуд вибрати програму (методологію) надання послуг, яка, на думку психолога, найкраще відповідає потребам Клієнта;</span>
    </p>
    <p class="c1"><span class="c5 c4">6.3.2. У випадку виявлення ознак психічних розладів у Клієнта відмовити у наданні психологічної допомоги без повернення оплати за сеанс.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.3.3. Використовувати дані про обсяг та види наданих послуг Клієнту з метою статистичних даних та досліджень психологом проблеми виникнення питань, що є предметом сеансів з Клієнтом.</span>
    </p>
    <p class="c22 c23"><span class="c5 c4">&nbsp;</span></p>
    <p class="c1"><span class="c4 c6">6.4.</span><span class="c4">&nbsp;</span><span class="c10 c8 c6">Психолог зобов'язаний:</span>
    </p>
    <p class="c1"><span class="c5 c4">6.4.1. Надавати послуги Клієнту, з яким Організатор уклав договір, в тому числі, але не виключно – оферти, якісно та в строки, визначені даним Договором.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.4.2. Надавати всю можливу психологічну допомогу Клієнту у вигляді психологічного консультування, психологічної корекції та психологічного інформування.</span>
    </p>
    <p class="c1"><span
                class="c5 c4">6.4.3. Проводити всі сеанси, призначені у графіку Психолога у платформі Організатора.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.4.4. Під час сеансу дотримуватись етичних норм, що закріплені Етичним Кодексом Української спілки психотерапевтів, Етичним Кодексом Європейської Асоціації Психотерапії.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.4.5. Під час проведення сеансу мати шанобливе ставлення до Клієнта незалежно від віку, статі, раси, релігійних чи політичних уподобань Клієнта; не дискримінувати Клієнта; організувати роботу з Клієнтом таким чином, щоб а ні її процес, а ні її результати не шкодили здоров'ю, психологічному стану та соціальному становищу Клієнта та пов'язаних з ним осіб.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.4.6. Під час проведення сеансу вислуховувати, підтримувати, звертати увагу на деталі, давати зворотній зв'язок стосовно почуттів, висловлювань та дій Клієнта.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.4.7. Дотримуватись часових меж проведення сеансу, визначених у п. 4.10 даного Договору.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.4.8. Не використовувати до Клієнта медикаментозне лікування.</span></p>
    <p class="c1"><span class="c5 c4">6.4.9. Не використовувати у власних та/або будь-яких інших цілях інформацію про Клієнта та інших осіб, щодо яких Психологу стало відомо під час проведення сеансу.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.4.10. Дотримуватися умов щодо непереманювання та не вступати у комерційні відносини із Клієнтами Організатора після проведення сеансу задля власних цілей.</span>
    </p>
    <p class="c1"><span class="c4">6.5. </span><span class="c8 c6">Клієнт зобов'язаний</span><span
                class="c5 c4">:</span>
    </p>
    <p class="c1"><span class="c5 c4">6.5.1. Своєчасно та у повному обсязі здійснити оплату послуг.</span></p>
    <p class="c1"><span class="c5 c4">6.5.2. З'являтись для надання послуг в узгоджений і зарезервований час.</span></p>
    <p class="c1"><span class="c4">6.5.3. Слідувати рекомендаціям Організатора щодо технічного налаштування зв'язку між системою </span><span
                class="c4">Організатора</span><span class="c5 c4">&nbsp;та Клієнта.</span></p>
    <p class="c1"><span class="c5 c4">6.5.4. Забезпечити стабільний Інтернет-зв'язок.</span></p>
    <p class="c1"><span class="c5 c4">6.5.5. Повідомити Організатора не пізніше ніж за 24 годин до часу початку сеансу про скасування та/або перенесення дати та/або часу сеансу.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.5.6. Демонструвати взаємну повагу до Психолога, Організатора, співробітників та партнерів Організатора. Образлива поведінка Клієнта, демонстрація статевих та інших органів, вживання лайливих слів є підставою для припинення Сеансу. Кошти за такий Сеанс не повертаються, а сам сеанс вважається таким, що був проведений. </span>
    </p>
    <p class="c1"><span class="c5 c4">6.5.7. Повідомляти Організатору достовірну інформацію щодо персональних даних, та документів, що необхідні для ідентифікації Клієнта, в тому числі для заповнення Анкети.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.5.8. Не допускати користування послугами сторонніх осіб, якщо інше прямо не передбачено положеннями даного Договору.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.5.9. Під час сеансу не перебувати у стані алкогольного, наркотичного та/або токсичного сп'яніння. Якщо психолог має перестороги, що Клієнт перебуває у стані, описаному в даному пункті, психолог має право негайно припинити проведення сеансу. Кошти за такий сеанс не повертаються. Сеанс вважається таким, що відбувся.</span>
    </p>
    <p class="c1"><span class="c4 c6">6.6.</span><span class="c4">&nbsp;</span><span
                class="c8 c6 c10">Клієнт має право:</span></p>
    <p class="c1"><span class="c5 c4">6.6.1. На отримання послуг передбачених даними Правилами.</span></p>
    <p class="c1"><span class="c5 c4">6.6.2. Повідомляти Організатора про свої побажання, пропозиції, зауваження щодо діяльності Організатора та / або психолога та послуг, що надаються за Договором.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.6.3. Змінити психолога та час надання послуг не пізніше ніж за 24 години до початку надання послуг.</span>
    </p>
    <p class="c1"><span class="c5 c4">6.6.4. Письмово звернутися до Організатора з пропозиціями щодо покращення процесу надання Послуг та акційних пропозицій.</span>
    </p>
    <p class="c1"><span class="c4">6.7. </span><span class="c8">Клієнт проінформований, що Психолог та Організатор не надають послуги психіатра, не призначають медикаментозне лікування</span><span
                class="c5 c4">. У випадку якщо Клієнт записується на сеанс з метою отримання послуг, визначених даним пунктом такий сеанс вважається проведеним, кошти за сеанс, що не відбувся, якщо Клієнт відмовляється пройти сеанс за послугами, що надаються психологом, не повертаються.</span>
    </p>
    <p class="c7"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8">7.</span><span class="c4">&nbsp;</span><span
                class="c3">Авторські та суміжні права</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">7.1. Всі авторські та суміжні права на відео-курси, текстові, графічні зображення, тощо, створенні та надані Клієнту на семінарах, конференціях належать Організатору. Клієнт має право використовувати їх лише в особистих цілях.</span>
    </p>
    <p class="c1"><span class="c4">7.2. Клієнт не має права без письмової згоди Організатора передавати доступ до отриманих он-лайн відео-курсів, текстових, графічних зображень, та інших он-лайн матеріалів третім особам, </span><span
                class="c4">опубліковувати</span><span class="c5 c4">, публічно відтворювати будь-яким способом та у будь-якій формі, повторювати, копіювати, а також використовувати в комерційних цілях.</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8">8.</span><span class="c4">&nbsp;</span><span class="c3">Конфіденційність</span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">8.1. Будь-яка інформація, отримана Сторонами у зв'язку з виконанням Договору, у тому числі отримана однією Стороною від іншої Сторони, є конфіденційною.</span>
    </p>
    <p class="c1"><span class="c5 c4">8.2. Ніякі подробиці роботи Організатора, психолога і Клієнта не можуть бути передані третім особам в усній або письмовій формі, в тому числі членам сім'ї або родичам, без явної на те згоди Клієнта, за винятком тих випадків, коли наявне виникнення та/або виявлення загрози життю та здоров'я Клієнта, Організатора та/або третьої особи, а також на підставі рішення суду чи обґрунтованого запиту правоохоронних органів.</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8">9.</span><span class="c4">&nbsp;</span><span
                class="c3">Відповідальність сторін</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">9.1. За невиконання та/або неналежне виконання умов цього Договору Сторони несуть відповідальність згідно з чинним законодавством та цим Договором.</span>
    </p>
    <p class="c1" id="h.gjdgxs"><span class="c4">9.2. </span><span class="c8">Організатор не несе відповідальність за невідповідність онлайн сеансів очікуванням Клієнта за його суб'єктивною оцінкою.</span><span
                class="c5 c4">&nbsp;Сторони розуміють і визнають, що невідповідність результату надання тієї чи іншої послуги результату, що очікував та бажав отримати Клієнт при зверненні за наданням відповідної послуги, саме по собі не є фактом надання такої послуги неналежної якості.</span>
    </p>
    <p class="c1"><span class="c5 c4">9.3. Організатор не несе відповідальність за дії та/або бездіяльність психолога під час проведення сеансів.</span>
    </p>
    <p class="c1"><span class="c5 c4">9.4. Організатор не несе відповідальності, у разі якщо Клієнт не зміг скористатись послугами з причин, що не залежать від Організатора (відсутність у Клієнта відповідного програмного забезпечення, його несправність або наявність інших технічних обмежень, відсутність чи обмеження доступу до мережі Інтернет, неприйняття участі у онлайн-сеансах з незалежних від Організатора причин, тощо). В такому разі сплачена вартість послуг не повертається, та Організатором не здійснюється жодних компенсації.</span>
    </p>
    <p class="c1"><span class="c5 c4">9.5. Організатор не відповідає за збиток (прямий або непрямий), понесений Клієнтом від використання або неможливості використання послуг Організатора.</span>
    </p>
    <p class="c1"><span class="c5 c4">9.6 У разі, якщо з будь-яких причин на Організатора буде покладено майнову (матеріальну) відповідальність перед Клієнтом чи його опікунами, родичами, спадкоємцями, така відповідальність обмежується розміром документально підтверджених збитків в межах суми коштів, що отримана Організатором в якості оплати за його послуги по цьому Договору в результаті платежів відповідного Клієнта. Така відповідальність можлива лише на підставі відповідного судового рішення.</span>
    </p>
    <p class="c1"><span class="c5 c4">9.7. Клієнт розуміє, що послуги, що він отримує надаються безпосередньо Психологом. Організатор не несе будь-якої відповідальності за належне чи неналежне надання послуг Психологом.</span>
    </p>
    <p class="c1"><span class="c5 c4">9.8. Організатор не відповідає за збиток (прямий або непрямий), понесений Клієнтом від використання або неможливості використання послуг Організатора.</span>
    </p>
    <p class="c1"><span class="c5 c4">9.9. Організатор не несе відповідальність за зміст і правдивість інформації, що надається Клієнтом при оформленні замовлення щодо Сеансу.</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8">10.</span><span class="c4">&nbsp;</span><span
                class="c3">Обробка персональних даних</span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">10.1. Акцептуванням цього Договору Клієнт, відповідно до Закону України «Про захист персональних даних», надає Організатору свою безвідкличну згоду на обробку персональних даних Клієнта (прізвище, імя, по батькові, псевдонім, ім'я при реєстрації на сайті, електронну та поштову адреси Клієнта та пов'язаної третьої особи, яку представляє або в інтересах якої діє Клієнт, номери контактних телефонів, ідентифікатори інших засобів зв'язку з Клієнтом та/або пов'язаною особою в інтересах якої або від імені якої діє Клієнт, відомості про відвідування сайту, сторінок Організатора та або партнерів Організатора в соціальних мережах, відомості щодо матеріалів і повідомлень, які Організатор надає / надсилає Клієнту в електронному вигляді, стан Клієнта та інша інформація, отримана/надана під час надання послуг), а також надає згоду на передачу таких даних третім особам з метою виконання цього Договору, а саме: забезпечення реалізації адміністративно-правових, податкових відносин та відносин у сфері бухгалтерського обліку; відносин у сфері реклами та збору персональних даних у комерційних цілях та інших відносин, що вимагають обробки персональних даних, серед них: з метою інформування Клієнтів про Послуги, час проведення сеансу/надання послуг, та інформування про рекламні пропозиції Організатора. Володільцем бази персональних даних є Організатор. Дані зберігаються Організатором на протязі всього строку дії Договору. Клієнт дає свою згоду на здійснення Організатором наступних дій з персональними даними Клієнта: збір, обробка, зберігання, внесення в бази даних Організатора (в тому числі в електронні бази даних), а також на наступне використання і розповсюдження Організатором персональних даних у відповідності з положеннями Закону України «Про захист персональних даних».</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8">11.</span><span class="c4">&nbsp;</span><span
                class="c3">Порядок вирішення спорів</span>
    </p>
    <p class="c0 c9"><span class="c3"></span></p>
    <p class="c1"><span class="c5 c4">11.1. Усі суперечки та розбіжності, які можуть виникнути при виконанні цього Договору, вирішуються шляхом переговорів між Сторонами.</span>
    </p>
    <p class="c1"><span class="c5 c4">11.2. У разі неможливості вирішення суперечок шляхом переговорів, вони підлягають вирішенню в судовому порядку відповідно до законодавства України.</span>
    </p>
    <p class="c0 c9"><span class="c3"></span></p>
    <p class="c0"><span class="c3">12. Інші умови Договору</span></p>
    <p class="c0 c9"><span class="c3"></span></p>
    <p class="c1"><span class="c4">12</span><span class="c5 c4">.1. Клієнт підтверджує, що вказана ним адреса електронної пошти належить виключно Клієнту, не передана та не буде передана у користування та/або володіння та/або розпорядження будь-яким особам, ця адреса електронної пошти використовується та буде використовуватись Клієнтом при виконанні умов даного договору, вчиненні Замовлень. Клієнт зобов'язаний забезпечити/гарантувати неможливість для третіх осіб здійснити доступ та/або використати адресу електронної пошти, зазначену при реєстрації Клієнта у інформаційній системі. Клієнт несе ризик та негативні наслідки втрати, незаконного володіння, технічного перехоплення інформації. Ризик і всю відповідальність за несанкціоноване використання адреси електронної пошти несе виключно Клієнт. Будь-яку особу, яка використала такі засоби, Організатор безумовно вважає Клієнтом, і не несе відповідальності, якщо це не відповідає дійсності.</span>
    </p>
    <p class="c1"><span class="c4">12.2. </span><span class="c4 c22">Ризик і всю відповідальність за недостовірність вказаної Клієнтом інформації при використанні послуг за цим Договором несе виключно Клієнт.</span>
    </p>
    <p class="c1"><span class="c5 c4">12.3. Організатор має право в односторонньому порядку змінювати умови даного Договору без повідомлення про це. Нова редакція умов цього договору вступає в силу з моменту її опублікування на Сайті, якщо інше не буде передбачено самим договором.</span>
    </p>
    <p class="c1"><span class="c5 c4">12.4. Даний Договір є публічним і безстроковим та діє до його повного виконання Сторонами.</span>
    </p>
    <p class="c1"><span class="c5 c4">12.5. Скопійована інформація з даного Сайту повинна містити активне гіперпосилання на Сайт https://goodhelp.com.ua, відкрите для індексації пошуковими роботами. Копіювання інформації з Сайту може бути здійснено у некомерційних цілях для розміщення на сторінках відвідувача, у блогах, соціальних мережах. При роботі з сайтом Клієнтові не надаються права на інтелектуальну власність ні на сам Сайт, ні на його зміст чи на використання будь-яких елементів брендингу або логотипів Сайту.</span>
    </p>
    <p class="c1"><span class="c5 c4">12.6. Сайт може містити посилання на інші сайти. Такі посилання наведені виключно для інформаційних цілей та допомагають нам найбільш повно розкрити інформацію або ілюструють розміщений матеріал. Той факт, що ми даємо посилання на зовнішній ресурс, не означає, що ми повністю схвалюємо викладені там позиції або ідеї, а також не гарантуємо достовірності розміщеної там інформації. Ми не несемо відповідальності за політику конфіденційності або зміст цих сайтів.</span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c3">Реквізити Організатора</span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4">Фізична особа підприємець Лось Дмитро Володимирович</span></p>
    <p class="c1"><span class="c5 c4">Адреса: Україна, 14032, Україна, 14032, Чернігівська обл., місто Чернігів, ВУЛИЦЯ ГЕНЕРАЛА БЄЛОВА, будинок 18, квартира 109</span>
    </p>
    <p class="c1"><span class="c5 c4">Код ЄДРПОУ: 3296817850</span></p>
    <p class="c1"><span class="c5 c4">IBAN: UA513220010000026003320056004 в АТ "УНІВЕРСАЛ БАНК"</span></p>
    <p class="c1"><span class="c5 c4">e-mail: goodhelpua@gmail.com</span></p>
    <p class="c9 c12"><span class="c5 c4"></span></p>
    <p class="c9 c20"><span class="c5 c4"></span></p></div>