<div class="c19"><p class="c0"><span class="c18"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">ПРАВИЛА ПОЛЬЗОВАНИЯ</font></font></span></p>
    <p class="c0"><span class="c3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Договор о предоставлении информационно-консультационных услуг в режиме онлайн</font></font></span>
    </p>
    <p class="c9 c13"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Эти правила пользования (далее по тексту – «Правила») регулируют договорные отношения между</font></font></span>
    </p>
    <p class="c16 c17 c9"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c8"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">GoodHelp </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;в лице Физического лица-предпринимателя Лося Дмитрия Владимировича, именуемого в дальнейшем – Организатор, с одной стороны, и</font></font></span>
    </p>
    <p class="c16 c9"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c8"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Любого физического лица </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">, имеющего полную гражданскую дееспособность, которое приняло (акцептовало) данное предложение заключить договор (оферту) и своими действиями обнаружило намерение присоединиться к настоящему Договору, в дальнейшем именуется – Клиент, с другой стороны, в дальнейшем вместе именуются "Стороны" , а каждый отдельно – "Сторона".</font></font></span>
    </p>
    <p class="c16 c17 c9"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Эти правила пользования адресованы неограниченному кругу лиц (физическим лицам), и являются официальным публичным предложением Организатора, заключить с любым Клиентом Договор о предоставлении информационно-консультационных услуг, предоставляемых в режиме онлайн в сети Интернет через веб-сайт по адресу: https:/ /goodhelp.com.ua (далее по тексту – «Веб-сайт»).</font></font></span>
    </p>
    <p class="c7 c15"><span class="c5 c4"></span></p>
    <p class="c16 c17"><span class="c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Внимательно прочтите и ознакомьтесь с условиями настоящего Договора. </font><font
                        style="vertical-align: inherit;">Если Вы не согласны с его положениями, использование сайта https://goodhelp.com.ua должно быть прекращено. </font><font
                        style="vertical-align: inherit;">Если Вы продолжаете использование Сайта, Вы тем самым подтверждаете, что полностью и безоговорочно приняли все условия и положения настоящего Договора, подтверждаете то, что такие условия Вам понятны, и заключаете Публичный договор с </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">ФЛП </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Лось Дмитрий Владимирович. </font><font
                        style="vertical-align: inherit;">Принятие Клиентом условий настоящих Правил (Акцепт) также является осуществление Клиентом оплаты услуг способами, определенными в настоящих Правилах согласно ч.2 ст. </font><font
                        style="vertical-align: inherit;">642 Гражданского кодекса Украины.</font></font></span>
    </p>
    <p class="c16 c17"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Ниже указанные условия регулируют Ваши права и обязанности использования Сайта и услуг, которые мы предоставляем через Сайт.</font></font></span>
    </p>
    <p class="c7"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font style="vertical-align: inherit;">Термины и определения</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1.1. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">Услуги </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;(он-лайн услуги) – деятельность Организатора (включая его наемных работников, субисполнителей, Психологов, других уполномоченных лиц, предоставляющих услуги по указанию Организатора) по предоставлению клиенту по его заказу информационно консультационных, психологических и других аналогичных услуг, являющихся предметом деятельности Организатора (в соответствии с его зарегистрированными КВЭД) и предлагаются для предоставления неопределенному кругу лиц через Сайт Организатора. </font><font
                        style="vertical-align: inherit;">Такие онлайн услуги не являются медицинскими услугами, носят информационный и консультационный характер и не требуют от Организатора получения лицензии.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Стоимость услуг может меняться Организатором в одностороннем порядке в зависимости от конъюнктуры рынка при оказании услуг.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1.2. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Сайт Организатора </font></font></span><span
                class="c8 c6"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;(далее - Сайт) </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;– веб-страница в сети Интернет по адресу </font></font></span><span
                class="c2"><a class="c14"
                              href="https://www.google.com/url?q=https://goodhelp.com.ua/&amp;sa=D&amp;source=editors&amp;ust=1656849029544436&amp;usg=AOvVaw3b2CdbJwgdqwt8C03qG7tp"><font
                        style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">https://goodhelp.com.ua/</font></font></a></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> , с помощью которой предоставляются он-лайн услуги и которая является официальным источником информирования Клиентов об Организаторе, Психологе, услугах им предоставляются и стоимость таких услуг.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1.3. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Личный кабинет </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;– веб-страница, размещенная на Сайте Организатора, к которой получает персональный доступ Клиент, после завершения процедуры регистрации. </font><font
                        style="vertical-align: inherit;">Через Личный кабинет Клиент осуществляет запись на сеанс, выбирает, согласовывает и получает услуги, осуществляет оплату услуг. </font><font
                        style="vertical-align: inherit;">Клиент несет все риски, связанные с использованием онлайн-сервиса «Личный кабинет» любым третьим лицом, не имеющим на то полномочий и последствиями такого использования. </font><font
                        style="vertical-align: inherit;">В свою очередь, Организатор, после получения уведомления от Клиента об обнаружении случая несанкционированного доступа к «Личному кабинету» третьими лицами, не имеющими на то полномочий, обязуется приложить все возможные усилия в рамках разумности по прекращению возможности пользования онлайн-сервисом «Личный кабинет» не уполномоченными на это лицами.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1.4. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Организатор </font></font></span><span class="c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;– Физическое лицо-предприниматель Лось Дмитрий Владимирович, являющийся владельцем веб-сайта по ссылке </font></font></span><span
                class="c2"><a class="c14"
                              href="https://www.google.com/url?q=https://goodhelp.com.ua/&amp;sa=D&amp;source=editors&amp;ust=1656849029545435&amp;usg=AOvVaw2T-yTTS6kJFdA5Jv432rnC"><font
                        style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">https://goodhelp.com.ua/</font></font></a></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> , наполняет платформу информацией о Психологе, стоимости услуг, перечне услуг, обеспечивает техническое сопровождение он-лайн сеанса, предоставляет Клиенту и Психологу платформу для получения услуг от Психолога Организатора.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1.5. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Психолог </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;– выбранное Клиентом на сайте Организатора лицо, непосредственно и/или косвенно участвующее в предоставлении услуг Клиентам по указанию и/или по заказу Организатора. </font><font
                        style="vertical-align: inherit;">Между Психологом и Организатором в отдельности заключается необходимый договор, регулирующий их сотрудничество.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1.6. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вид услуг – </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">&nbsp;индивидуальный сеанс; </font><font
                        style="vertical-align: inherit;">парный сеанс (для двух человек), семейная терапия (два и более человека); </font><font
                        style="vertical-align: inherit;">семинар; </font><font style="vertical-align: inherit;">конференция; </font><font
                        style="vertical-align: inherit;">видеокурс. </font><font style="vertical-align: inherit;">Все виды услуг предоставляются онлайн. </font><font
                        style="vertical-align: inherit;">Такие услуги, как семинары и конференции, могут предоставляться на территории Клиента по индивидуальному заказу с последующим заключением индивидуального договора.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1.7. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вопросы сеанса – </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;тревоги; </font><font
                        style="vertical-align: inherit;">депрессии; </font><font style="vertical-align: inherit;">панические атаки; </font><font
                        style="vertical-align: inherit;">психосоматические осложнения; </font><font
                        style="vertical-align: inherit;">расстройства пищевого поведения; </font><font
                        style="vertical-align: inherit;">нарушение сна; </font><font style="vertical-align: inherit;">эмоциональная неустойчивость, утрата самоуважения и любви к самому себе; </font><font
                        style="vertical-align: inherit;">трудности в установлении и сохранении отношений; </font><font
                        style="vertical-align: inherit;">переходы и значимые конфигурации на жизненном пути; </font><font
                        style="vertical-align: inherit;">возрастные кризисы; </font><font
                        style="vertical-align: inherit;">спад творческой активности; </font><font
                        style="vertical-align: inherit;">карьерный застой; сложности выбора собственного пути; </font><font
                        style="vertical-align: inherit;">постановка и реализация собственных целей; </font><font
                        style="vertical-align: inherit;">развитие эмоционального интеллекта и другие вопросы, опубликованные на сайте Организатора или темы, с которыми пришел клиент.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">1.8. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Сеанс </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;– онлайн общение ограниченное по времени, определенным условиями настоящего Договора, Клиента с Психологом без присутствия третьих лиц, в том числе технического персонала, по вопросам, которые беспокоят Клиента, во время которого Психолог помогает в формулировании запроса Клиента, и оказывает помощь в решении этого запроса с помощью психологической беседы с применением психологических методик и техник.</font></font></span>
    </p>
    <p class="c7"><span class="c5 c4"></span></p>
    <p class="c11"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">2. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font style="vertical-align: inherit;">Общие положения</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">2.1. </font><font style="vertical-align: inherit;">Данный документ является официальным предложением (публичной офертой) субъекта хозяйственной деятельности Физического лица-предпринимателя Лося Дмитрия Владимировича и содержит все существенные условия предоставления услуг, согласно ст. </font><font
                        style="vertical-align: inherit;">633, 641 Гражданского кодекса Украины, одинаковы для всех контрагентов.</font></font></span>
    </p>
    <p class="c16"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2.2. </font><font
                        style="vertical-align: inherit;">Настоящий Договор заключается путем предоставления полного и безусловного согласия (акцепта) Клиента на заключение Договора в полном объеме без подписи письменного экземпляра Договора Сторонами.</font></font></span>
    </p>
    <p class="c16"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2.3. </font><font
                        style="vertical-align: inherit;">Акцепт условий настоящего Договора является также акцептом Клиента всех других соглашений, правил, последующих изменений условий договора и других документов, опубликованных на Сайте, являющихся неотъемлемой частью настоящего Договора и определяющих порядок предоставления услуг Организатором и Психологом. </font><font
                        style="vertical-align: inherit;">Отдельно никакие письменные экземпляры таких документов не подписываются.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">2.4. </font><font style="vertical-align: inherit;">Регистрация на Сайте и/или оплата услуг через платежную систему WayForPay или любую другую платежную систему на Сайте, в соответствии с ч.2 ст. </font><font
                        style="vertical-align: inherit;">642 Гражданского кодекса Украины считается акцептом Договора между лицом, осуществившим оплату и Организатором, и удостоверяет факт его заключения.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">2.5. </font><font style="vertical-align: inherit;">Клиент не имеет права </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">уступать </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;или каким-либо иным образом передавать свои права по настоящему Договору третьим лицам без предварительного письменного согласия Организатора.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">2.6. </font><font style="vertical-align: inherit;">Организатор имеет право на свое усмотрение без согласия Клиента уступить или каким-либо иным образом передать свои права по настоящему Договору третьим лицам, отправив Клиенту соответствующее уведомление на электронную почту (e-mail), </font></font></span><span
                class="c4 c22"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">указанное в регистрационной форме Клиента, или при оплате в любое какой-либо платежной системе, предложенной на Сайте </font></font></span><span
                class="c5 c4 c22"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">2.7. </font><font style="vertical-align: inherit;">Внесение изменений (дополнений) в настоящий Договор, изменение порядка, объема и условий предоставления Услуг, производится Организатором в одностороннем порядке путем обязательного размещения указанных изменений (дополнений) на Сайте. </font><font
                        style="vertical-align: inherit;">Все изменения и дополнения, вносимые Организатором настоящего Договора, вступают в силу и становятся обязательными с момента их размещения на Сайте. </font><font
                        style="vertical-align: inherit;">Все приложения, изменения и дополнения к настоящему Договору являются его составной и неотъемлемой его частью.</font></font></span>
    </p>
    <p class="c1 c9"><span class="c4 c5"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">3. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font style="vertical-align: inherit;">Предмет договора</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">3.1. </font><font style="vertical-align: inherit;">Организатор обязуется на условиях и в порядке, определенном настоящим Договором, предоставить Клиенту предложенные на Сайте информационно-консультационные Услуги через сеть Интернет путем привлечения к непосредственному предоставлению услуг избранного Клиентом Психолога, а Клиент обязуется на условиях и в порядке, определенных настоящим Договором, принять и оплатить заказанные Услуги.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3.1.1. </font><font
                        style="vertical-align: inherit;">Именно Психолог непосредственно и/или косвенно предоставляет Клиенту услуги путем проведения он-лайн сеанса с Клиентом. </font><font
                        style="vertical-align: inherit;">Психолог самостоятельно определяет методы и способы предоставления услуг.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3.1.2. </font><font
                        style="vertical-align: inherit;">Организатор не предоставляет психологические услуги для Клиента, а обеспечивает организацию работы между Клиентом и Психологом.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">3.1.3. </font><font style="vertical-align: inherit;">Организатор не принимает участия в предоставлении Психологом услуг Клиентам, не несет ответственности за качество и объем предоставляемых Психологом услуг </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">по договорным отношениям </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;между Клиентом и Психологом.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">3.3. </font><font style="vertical-align: inherit;">Организатор гарантирует Клиенту, что средства, внесенные Клиентом на соответствующий баланс, - сохраняются на таком балансе до проведения сеанса Клиента с Психологом.</font></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font
                        style="vertical-align: inherit;">Порядок предоставления услуг</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.1. </font><font style="vertical-align: inherit;">Услуги предоставляются Клиенту психологом (-ами) с которыми Организатор заключил отдельный договор (трудовой или другой гражданско – правовой договор), путем проведения сеансов он-лайн.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.2. </font><font style="vertical-align: inherit;">На сайте Организатор размещает информацию о партнерах-психологах (фамилия, имя, специальность, опыт, вопросы, в которых специализируется и другое), виды предоставляемых услуг, стоимость таких услуг и вопросы, которые могут быть предметом сеансов с Клиентом. </font><font
                        style="vertical-align: inherit;">Организатор не несет ответственности за достоверность информации, касающейся личности психолога.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.3. </font><font style="vertical-align: inherit;">После акцептирования данного Договора Клиент на сайте выбирает Психолога, вид услуг, отмечает удобное время и дату для проведения сеанса. </font><font
                        style="vertical-align: inherit;">По результатам обработки данных, выбранных/предоставленных Клиентом, формируется счет для уплаты.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.4. </font><font style="vertical-align: inherit;">Акцептированием настоящего Договора Клиент согласен с условиями проведения сеанса и условиями настоящего договора.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.5. </font><font style="vertical-align: inherit;">Клиент производит оплату заказанных услуг на условиях, определенных в разделе 5 настоящего Договора.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.6. </font><font style="vertical-align: inherit;">Услуга производится по полной предоплате. </font><font
                        style="vertical-align: inherit;">Для получения услуги клиент вносит необходимую сумму на личный баланс на сайте. </font><font
                        style="vertical-align: inherit;">Без оплаты сеанс не назначается и не проводится.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.7. </font><font style="vertical-align: inherit;">Организатор размещает на сайте информацию о психологе и времени и дате, в который можно забронировать и провести/получить сеанс/услугу.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.8. </font><font style="vertical-align: inherit;">Клиент имеет право не позднее чем за 24 часа до часа начала назначенного сеанса заменить: психолога, дату и/или время сеанса. </font><font
                        style="vertical-align: inherit;">Дата и время сеанса меняется на сайте Организатора. </font><font
                        style="vertical-align: inherit;">Смена психолога осуществляется путем отмены сеанса у забронированного психолога и избрание другого психолога с определением времени и даты сеанса. </font><font
                        style="vertical-align: inherit;">В случае смены психолога, с целью улучшения предоставления услуг, Организатор имеет право уточнить у Клиента причину такой замены. </font><font
                        style="vertical-align: inherit;">Средства за отмененный заранее (за 24 часа до начала сеанса) сеанс не возвращаются Клиенту, однако, остаются доступными для бронирования других консультаций в системе. </font><font
                        style="vertical-align: inherit;">Клиент имеет право осуществить отмену и/или перенос сеанса только один раз. </font><font
                        style="vertical-align: inherit;">В других случаях средства Клиенту не возвращаются, а сеанс считается состоявшимся. </font></font></span>
        <span
                class="c4">
            По отдельному согласованию с Организатором Психолог право предоставить скидку Клиенту на назначение следующего сеанса в случае, если сеанс считался проведенным не по вине Клиента. Такие скидки отдельно согласны Организатором с Психологом.
        </span>

    </p>

    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.9. </font><font style="vertical-align: inherit;">Индивидуальный сеанс длится 50 минут, парный/семейный сеанс длится 80 минут.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4.10. </font><font
                        style="vertical-align: inherit;">Сеанс начинается во время, определенное при записи.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">В связи с возможным возникновением технических вопросов при подключении Клиента к системе GoodHelp, первый сеанс может продолжаться меньше, определенного в п. 4.10. </font><font
                        style="vertical-align: inherit;">настоящего Договора, времени. </font><font
                        style="vertical-align: inherit;">Сеанс может быть сокращен при задержке подключения Клиента к системе, в которой предоставляется услуга. </font></font></span><span
                class="c2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время задержки начала сеанса, которое произошло по вине Клиента, не компенсируется. </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Если задержка произошла по вине Организатора и/или Психолога и составляет не более 5 минут, время опоздания компенсируется в текущем сеансе; </font><font
                        style="vertical-align: inherit;">если задержка составляет до 15 минут, время опоздания компенсируется в следующих сеансах по договоренности с психологом.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4.11. </font><font
                        style="vertical-align: inherit;">Психолог во время сеанса обязан предоставить Клиенту всю возможную психологическую помощь посредством психологического консультирования, психологической коррекции и психологического информирования; </font><font
                        style="vertical-align: inherit;">обязан выслушивать, поддерживать, обращать внимание на детали, давать обратную связь по отношению к чувствам, высказываниям и действиям Клиента; </font><font
                        style="vertical-align: inherit;">не использовать к клиенту медикаментозное лечение; </font><font
                        style="vertical-align: inherit;">соблюдать этические нормы, иметь уважительное отношение к Клиенту, не дискриминировать Клиента, организовать работу с Клиентом таким образом, чтобы ни ее процесс, ни ее результаты не вредили здоровью, психологическому состоянию и социальному положению Клиента и связанных с ним лиц. , имеет право использовать апробированные психодиагностические и психокоррекционные методы</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4.12. </font><font
                        style="vertical-align: inherit;">В случае избрания Клиентом услуги «видео-курс» услуга считается предоставленной после размещения видео курса в личном кабинете и/или просмотра курса на сайте Организатора.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4.13. </font><font
                        style="vertical-align: inherit;">Организатор не несет ответственности, если Клиент пропустил сеанс с Психологом. </font><font
                        style="vertical-align: inherit;">Средства за такой сеанс не возвращаются Клиенту.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">4.14. </font><font style="vertical-align: inherit;">Если Клиент выбирает индивидуальный сеанс, то это предполагает его индивидуальное общение с Психологом без участия посторонних лиц. </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">На сеансе должны присутствовать только те лица, которые записывались на него, и в количестве, предусмотренном видом сеанса. </font><font
                        style="vertical-align: inherit;">В случае присутствия на Сеансе посторонних лиц или лиц в количестве, </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">не предусмотренном </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;видом сеанса – Психолог останавливает проведение Сеанса. </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;Средства за такой Сеанс не возвращаются, а сам Сеанс считается проведенным.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4.15. </font><font
                        style="vertical-align: inherit;">Оплата Клиентом Сеанса означает достаточное и полное ознакомление Клиента с характеристиками оплачиваемых услуг, информацией о сроках их предоставления, ожидаемых объемах, всей информацией и сведениями, предоставление которых необходимо Клиенту для сознательного и взвешенного выбора. </font><font
                        style="vertical-align: inherit;">А также ознакомление с содержанием и объемом, стоимостью и способом ее определения, сроками, порядком и характеристиками услуг Психологом, с содержанием настоящего Договора в полном объеме и в доступной форме.</font></font></span>
    </p>
    <p class="c0 c9"><span class="c3"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">5. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font
                        style="vertical-align: inherit;">Стоимость услуг и порядок проведения расчетов</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">5.1. </font><font style="vertical-align: inherit;">Стоимость услуг составляет стоимость всех предоставленных Клиенту услуг.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">5.2. </font><font style="vertical-align: inherit;">Стоимость услуг формируется на базе выбранных Клиентом видов услуг и количества сеансов.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">5.3. </font><font style="vertical-align: inherit;">Стоимость одной услуги и/или одного сеанса указывается на сайте Организатора </font></font></span><font
                style="vertical-align: inherit;"><span class="c5 c4"><font
                        style="vertical-align: inherit;">. </font></span><span class="c5 c4"><font
                        style="vertical-align: inherit;">При этом стоимость сеанса может отличаться в зависимости от выбранного Клиентом Психолога.</font></span></font><span
                class="c4">&nbsp;</span><span class="c5 c4"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">5.4. </font><font style="vertical-align: inherit;">Для осуществления заказа сеанса Клиент вносит средства в свой личный баланс с помощью платежной системы WayForPay </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">или другой системы, предложенной на сайте Организатора </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">, в сумме, </font></font></span><span class="c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">определенной </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;по результатам обработки заказа Клиента. </font><font
                        style="vertical-align: inherit;">Клиент производит оплату на условиях 100% предоплаты заказа. </font><font
                        style="vertical-align: inherit;">Внесенные денежные средства хранятся на балансе Клиента до их списания за соответствующий сеанс с Психологом.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">5.5. </font><font style="vertical-align: inherit;">Оплата услуг производится путем автоматического списания средств с баланса Клиента.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">5.8. </font><font style="vertical-align: inherit;">Платежи, совершенные Клиентом, до проведения сеанса сохраняются на балансе Клиента в системе. </font><font
                        style="vertical-align: inherit;">После предоставления услуг Клиенту средства автоматически поступают Организатору, который в свою очередь производит расчет с Психологом за фактически проведенный сеанс на условиях, определенных отдельно заключенным Договором.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">5.9. </font><font style="vertical-align: inherit;">В случае отмены Клиентом сеанса менее чем за 24 часа до начала сеанса, уплаченные Клиентом средства за один сеанс не возвращаются, а сразу засчитываются Организатору.</font></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font
                        style="vertical-align: inherit;">Обязанности и права сторон</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.1. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Организатор обязан </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">:</font></font></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.1.1. </font><font
                        style="vertical-align: inherit;">Организовать проведение сеанса в срок, выбранный Клиентом;</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.1.2. </font><font
                        style="vertical-align: inherit;">Разместить информацию о Психологе, услугах, стоимости услуг на сайте;</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.1.3. </font><font style="vertical-align: inherit;">обеспечить техническую возможность связи с психологом на сайте;</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.1.4. </font><font
                        style="vertical-align: inherit;">Информировать Клиента о переносе со стороны психолога даты и/или времени сеанса и согласовать с Клиентом другое время и/или дату сеанса.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.1.5. </font><font
                        style="vertical-align: inherit;">Технически обеспечить возможность согласования новой даты и времени проведения сеанса в случае отмены/переноса сеанса со стороны Клиента, если такая отмена/перенос состоялась более чем за 24 часа до назначенной даты и времени сеанса.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.1.6. </font><font
                        style="vertical-align: inherit;">Осуществить перерасчет средств Психологу за проведённый сеанс с Клиентом.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.2. </font></font></span><span class="c6 c8"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Организатор имеет право </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">:</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.2.1. </font><font
                        style="vertical-align: inherit;">В случае отмены Клиентом сеанса менее чем через 24 часа согласовать с Клиентом другую дату и время проведения сеанса;</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.2.2. </font><font
                        style="vertical-align: inherit;">заменить психолога до начала проведения сеанса, сообщив о замене Клиента;</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.2.3. </font><font
                        style="vertical-align: inherit;">Без согласования с Клиентом устанавливать и отменять скидки, маркетинговые акции, льготы, основывать учетные программы, программы лояльности и т.д.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.2.4. </font><font
                        style="vertical-align: inherit;">Отказать Клиенту в предоставлении Услуг по Договору в случае выявления нарушения Клиентом условий Правил использования или законодательства Украины.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.2.5. </font><font
                        style="vertical-align: inherit;">Внести изменения, дополнения к настоящему договору без дополнительного и/или раздельного согласования с Клиентом.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.2.6. </font><font
                        style="vertical-align: inherit;">В случае выявления акцептования данного договора лицом, не имеющим полной гражданской дееспособности, отказать Клиенту в проведении сеанса до получения соответствующего письменного согласования от законного представителя такого лица.</font></font></span>
    </p>
    <p class="c1"><span class="c4 c6"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.3. </font></font></span><font
                style="vertical-align: inherit;"><span class="c10 c8 c6"><font style="vertical-align: inherit;">Психолог имеет право:</font></span></font><span
                class="c4">&nbsp;</span><span class="c10 c8 c6"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.3.1. </font><font
                        style="vertical-align: inherit;">По своему усмотрению выбрать программу (методологию) предоставления услуг, которая, по мнению психолога, лучше отвечает потребностям Клиента;</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.3.2. </font><font
                        style="vertical-align: inherit;">В случае выявления признаков психических расстройств у Клиента отказать в оказании психологической помощи без возврата оплаты за сеанс.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.3.3. </font><font
                        style="vertical-align: inherit;">Использовать данные об объеме и видах предоставленных услуг Клиенту с целью статистических данных и исследований психологом проблемы возникновения вопросов, являющихся предметом сеансов с Клиентом.</font></font></span>
    </p>
    <p class="c22 c23"><span class="c5 c4">&nbsp;</span></p>
    <p class="c1"><span class="c4 c6"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.4. </font></font></span><font
                style="vertical-align: inherit;"><span class="c10 c8 c6"><font style="vertical-align: inherit;">Психолог обязан:</font></span></font><span
                class="c4">&nbsp;</span><span class="c10 c8 c6"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.1. </font><font
                        style="vertical-align: inherit;">Предоставлять услуги Клиенту, с которым Организатор заключил договор, в том числе, но не исключительно оферты, качественно и в сроки, определенные настоящим Договором.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.2. </font><font
                        style="vertical-align: inherit;">Предоставлять всю возможную психологическую помощь Клиенту посредством психологического консультирования, психологической коррекции и психологического информирования.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.3. </font><font
                        style="vertical-align: inherit;">Проводить все сеансы, предназначенные в графике Психолога на платформе Организатора.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.4. </font><font
                        style="vertical-align: inherit;">Во время сеанса соблюдать этические нормы, закрепленные Этическим Кодексом Украинского союза психотерапевтов, Этическим Кодексом Европейской Ассоциации Психотерапии.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.5. </font><font
                        style="vertical-align: inherit;">При проведении сеанса иметь уважительное отношение к Клиенту независимо от возраста, пола, расы, религиозных или политических предпочтений Клиента; </font><font
                        style="vertical-align: inherit;">не дискриминировать Клиента; </font><font
                        style="vertical-align: inherit;">организовать работу с Клиентом таким образом, чтобы ни ее процесс, ни ее результаты не вредили здоровью, психологическому состоянию и социальному положению Клиента и связанных с ним лиц.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.6. </font><font
                        style="vertical-align: inherit;">Во время проведения сеанса выслушивать, поддерживать, обращать внимание на детали, давать обратную связь по поводу чувств, высказываний и действий Клиента.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.7. </font><font
                        style="vertical-align: inherit;">Соблюдать временные рамки проведения сеанса, определенных в п. 4.10 настоящего Договора.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.8. </font><font
                        style="vertical-align: inherit;">Не использовать Клиенту медикаментозное лечение.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.9. </font><font
                        style="vertical-align: inherit;">Не использовать в своих и/или любых других целях информацию о Клиенте и других лицах, о которых Психологу стало известно во время проведения сеанса.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.4.10. </font><font
                        style="vertical-align: inherit;">Соблюдать условия непереманивания и не вступать в коммерческие отношения с Клиентами Организатора после проведения сеанса для собственных целей.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.5. </font></font></span><span class="c8 c6"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">Клиент обязан </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">:</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.5.1. </font><font
                        style="vertical-align: inherit;">Своевременно и в полном объеме произвести оплату услуг.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.5.2. </font><font
                        style="vertical-align: inherit;">Появляться для предоставления услуг в согласованное и зарезервированное время.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.5.3. </font><font style="vertical-align: inherit;">Следовать рекомендациям Организатора по технической настройке связи между системой </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Организатора </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">&nbsp;и Клиента.</font></font></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.5.4. </font><font
                        style="vertical-align: inherit;">Обеспечить стабильную Интернет-связь.</font></font></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.5.5. </font><font
                        style="vertical-align: inherit;">Уведомить Организатора не позднее чем за 24 часа до начала сеанса об отмене и/или переносе даты и/или времени сеанса.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.5.6. </font><font
                        style="vertical-align: inherit;">Демонстрировать взаимное уважение к Психологу, Организатору, сотрудникам и партнерам Организатора. </font><font
                        style="vertical-align: inherit;">Оскорбительное поведение Клиента, демонстрация половых и других органов, употребление бранных слов является основанием для прекращения Сеанса. </font><font
                        style="vertical-align: inherit;">Средства за такой Сеанс не возвращаются, а сам сеанс считается проведенным.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.5.7. </font><font
                        style="vertical-align: inherit;">Сообщать Организатору достоверную информацию о персональных данных и документах, необходимых для идентификации Клиента, в том числе для заполнения Анкеты.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.5.8. </font><font
                        style="vertical-align: inherit;">Не допускать пользования услугами посторонних лиц, если иное напрямую не предусмотрено положениями настоящего Договора.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.5.9. </font><font
                        style="vertical-align: inherit;">Во время сеанса не находиться в состоянии алкогольного, наркотического и/или токсичного опьянения. </font><font
                        style="vertical-align: inherit;">Если у психолога есть предостережения, что Клиент находится в состоянии, описанном в данном пункте, психолог имеет право немедленно прекратить проведение сеанса. </font><font
                        style="vertical-align: inherit;">Средства за такой сеанс не возвращаются. </font><font
                        style="vertical-align: inherit;">Сеанс считается состоявшимся.</font></font></span>
    </p>
    <p class="c1"><span class="c4 c6"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.6. </font></font></span><font
                style="vertical-align: inherit;"><span class="c8 c6 c10"><font style="vertical-align: inherit;">Клиент имеет право:</font></span></font><span
                class="c4">&nbsp;</span><span class="c8 c6 c10"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.6.1. </font><font
                        style="vertical-align: inherit;">На получение услуг, предусмотренных данными Правилами.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.6.2. </font><font
                        style="vertical-align: inherit;">Уведомлять Организатора о своих пожеланиях, предложениях, замечаниях по деятельности Организатора и/или психолога и услуг, предоставляемых по Договору.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.6.3. </font><font
                        style="vertical-align: inherit;">Изменить психолога и время предоставления услуг не позднее 24 часов до начала предоставления услуг.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6.6.4. </font><font
                        style="vertical-align: inherit;">В письменном виде обратиться к Организатору с предложениями по улучшению процесса предоставления Услуг и акционных предложений.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">6.7. </font></font></span><span class="c8"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">Клиент проинформирован, что Психолог и Организатор не оказывают услуги психиатра, не назначают медикаментозное лечение </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">. </font><font style="vertical-align: inherit;">В случае если Клиент записывается на сеанс с целью получения услуг, определенных данным пунктом, такой сеанс считается проведенным, средства за несостоявшийся сеанс, если Клиент отказывается пройти сеанс по услугам, предоставляемым психологом, не возвращаются.</font></font></span>
    </p>
    <p class="c7"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">7. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font
                        style="vertical-align: inherit;">Авторские и смежные права</font></span></font><span class="c4">&nbsp;</span><span
                class="c3"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">7.1. </font><font style="vertical-align: inherit;">Все авторские и смежные права на видео-курсы, текстовые, графические изображения и т.п., создании и предоставленные Клиенту на семинарах, конференциях принадлежат Организатору. </font><font
                        style="vertical-align: inherit;">Клиент имеет право использовать их только в личных целях.</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">7.2. </font><font style="vertical-align: inherit;">Клиент не имеет права без письменного согласия Организатора передавать доступ к полученным он-лайн видео-курсам, текстовым, графическим изображениям и другим он-лайн материалам третьим лицам, </font></font></span><span
                class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">опубликовывать </font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">, публично воспроизводить любым способом и в любой форме, повторять, копировать и использовать в коммерческих целях.</font></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">8. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font style="vertical-align: inherit;">Конфиденциальность</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">8.1. </font><font style="vertical-align: inherit;">Любая информация, полученная Сторонами в связи с исполнением Договора, в том числе полученная Стороной от другой Стороны, является конфиденциальной.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">8.2. </font><font style="vertical-align: inherit;">Никакие подробности работы Организатора, психолога и Клиента не могут быть переданы третьим лицам в устной или письменной форме, в том числе членам семьи или родственникам, без явного согласия Клиента, за исключением тех случаев, когда имеется возникновение и/или выявление угрозы. жизни и здоровья Клиента, Организатора и/или третьего лица, а также на основании решения суда или обоснованного запроса правоохранительных органов.</font></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9. </font></font></span><font style="vertical-align: inherit;"><span
                    class="c3"><font style="vertical-align: inherit;">Ответственность сторон</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9.1. </font><font style="vertical-align: inherit;">За невыполнение и/или ненадлежащее исполнение условий настоящего Договора Стороны несут ответственность согласно действующему законодательству и настоящему Договору.</font></font></span>
    </p>
    <p class="c1" id="h.gjdgxs"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9.2. </font></font></span><span class="c8"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">Организатор не несет ответственности за несоответствие онлайн сеансов ожиданиям Клиента по его субъективной оценке. </font></font></span><span
                class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;Стороны понимают и признают, что несоответствие результата предоставления той или иной услуги ожидавшего и желающего получить Клиент при обращении за предоставлением соответствующей услуги, само по себе не является фактом предоставления такой услуги ненадлежащего качества.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9.3. </font><font style="vertical-align: inherit;">Организатор не несет ответственности за действия и/или бездействие психолога при проведении сеансов.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9.4. </font><font style="vertical-align: inherit;">Организатор не несет ответственности, в случае если Клиент не смог воспользоваться услугами по причинам, не зависящим от Организатора (отсутствие у Клиента соответствующего программного обеспечения, его неисправность или наличие других технических ограничений, отсутствие или ограничение доступа в Интернет, непринятие участия в онлайн- сеансах по независящим от Организатора причинам и т.п.). </font><font
                        style="vertical-align: inherit;">В таком случае уплаченная стоимость услуг не возвращается и Организатором не осуществляется никаких компенсаций.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9.5. </font><font style="vertical-align: inherit;">Организатор не отвечает за ущерб (прямой или косвенный), понесенный Клиентом от использования или невозможности использования услуг Организатора.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9.6 В случае, если по каким-либо причинам на Организатора будет возложена имущественная (материальная) ответственность перед Клиентом или его опекунами, родственниками, наследниками, такая ответственность ограничивается размером документально подтвержденных убытков в пределах суммы средств, полученных Организатором в качестве оплаты за его услуги по настоящему Договору в результате платежей соответствующего Клиента. </font><font
                        style="vertical-align: inherit;">Такая ответственность возможна только на основании соответствующего судебного решения.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9.7. </font><font style="vertical-align: inherit;">Клиент понимает, что услуги, которые он получает предоставляются непосредственно Психологом. </font><font
                        style="vertical-align: inherit;">Организатор не несет ответственности за надлежащее или ненадлежащее предоставление услуг Психологом.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9.8. </font><font style="vertical-align: inherit;">Организатор не отвечает за ущерб (прямой или косвенный), понесенный Клиентом от использования или невозможности использования услуг Организатора.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">9.9. </font><font style="vertical-align: inherit;">Организатор не несет ответственности за содержание и правдивость информации, предоставляемой Клиентом при оформлении заказа по Сеансу.</font></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">10. </font></font></span><font
                style="vertical-align: inherit;"><span class="c3"><font style="vertical-align: inherit;">Обработка персональных данных</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10.1. </font><font
                        style="vertical-align: inherit;">Акцептированием настоящего Договора Клиент, согласно Закону Украины «О защите персональных данных», предоставляет Организатору свое безотзывное согласие на обработку персональных данных Клиента (фамилия, имя, отчество, псевдоним, имя при регистрации на сайте, электронный и почтовый адрес Клиента и связанного третьего лица, представляющего или в интересах которого действует Клиент, номера контактных телефонов, идентификаторы других средств связи с Клиентом и/или связанным лицом в интересах которого или от имени которого действует Клиент, сведения о посещении сайта, страниц Организатора или партнеров Организатора в социальных сетях, сведения о материалах и уведомлениях, которые Организатор предоставляет / отправляет Клиенту в электронном виде, состояние Клиента и другая информация, полученная/оказанная во время предоставления услуг), </font><font
                        style="vertical-align: inherit;">а также дает согласие на передачу таких данных третьим лицам с целью выполнения настоящего Договора, а именно: обеспечение реализации административно-правовых, налоговых отношений и отношений в сфере бухгалтерского учета; </font><font
                        style="vertical-align: inherit;">отношений в сфере рекламы и сбора персональных данных в коммерческих целях и других отношений, требующих обработки персональных данных, среди них: с целью информирования Клиентов о Услуги, время проведения сеанса/оказания услуг и информирования о рекламных предложениях Организатора. </font><font
                        style="vertical-align: inherit;">Обладателем базы персональных данных является Организатор. </font><font
                        style="vertical-align: inherit;">Данные хранятся Организатором в течение всего срока действия Договора. </font><font
                        style="vertical-align: inherit;">Клиент дает свое согласие на осуществление Организатором следующих действий по персональным данным Клиента: сбор, обработка, хранение, внесение в базы данных Организатора (в том числе в электронные базы данных),</font></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c0"><span class="c8"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">11. </font></font></span><font
                style="vertical-align: inherit;"><span class="c3"><font style="vertical-align: inherit;">Порядок разрешения споров</font></span></font><span
                class="c4">&nbsp;</span><span class="c3"><font style="vertical-align: inherit;"></font></span>
    </p>
    <p class="c0 c9"><span class="c3"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11.1. </font><font
                        style="vertical-align: inherit;">Все споры и разногласия, которые могут возникнуть при исполнении настоящего Договора, разрешаются путем переговоров между Сторонами.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11.2. </font><font
                        style="vertical-align: inherit;">В случае невозможности разрешения споров путем переговоров, они подлежат разрешению в судебном порядке в соответствии с законодательством Украины.</font></font></span>
    </p>
    <p class="c0 c9"><span class="c3"></span></p>
    <p class="c0"><span class="c3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12. Прочие условия Договора</font></font></span>
    </p>
    <p class="c0 c9"><span class="c3"></span></p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">12</font></font></span><span class="c5 c4"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">.1. </font><font
                        style="vertical-align: inherit;">Клиент подтверждает, что указанный им адрес электронной почты принадлежит исключительно Клиенту, не передан и не будет передан в пользование и/или владение и/или распоряжение каким-либо лицам, этот адрес электронной почты используется и будет использоваться Клиентом при выполнении условий настоящего договора, совершении Заказов. </font><font
                        style="vertical-align: inherit;">Клиент обязан обеспечить/гарантировать невозможность для третьих лиц осуществить доступ и/или использовать адрес электронной почты, указанный при регистрации Клиента в информационной системе. </font><font
                        style="vertical-align: inherit;">Клиент несет риск и негативные последствия утраты, незаконного владения, технического перехвата информации. </font><font
                        style="vertical-align: inherit;">Риск и ответственность за несанкционированное использование адреса электронной почты несет исключительно Клиент. </font><font
                        style="vertical-align: inherit;">Любое лицо, использовавшее такие средства, Организатор безусловно считает Клиентом, и не несет ответственности,</font></font></span>
    </p>
    <p class="c1"><span class="c4"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">12.2. </font></font></span><span class="c4 c22"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">Риск и всю ответственность за недостоверность указанной Клиентом информации при использовании услуг по настоящему Договору несет исключительно Клиент.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12.3. </font><font
                        style="vertical-align: inherit;">Организатор имеет право в одностороннем порядке изменять условия настоящего Договора без уведомления об этом. </font><font
                        style="vertical-align: inherit;">Новая редакция условий настоящего договора вступает в силу с момента ее опубликования на Сайте, если иное не предусмотрено самим договором.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12.4. </font><font
                        style="vertical-align: inherit;">Настоящий Договор публичный и бессрочный и действует до его полного исполнения Сторонами.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12.5. </font><font
                        style="vertical-align: inherit;">Скопированная информация с данного Сайта должна содержать активную гиперссылку на https://goodhelp.com.ua, открытую для индексации поисковыми работами. </font><font
                        style="vertical-align: inherit;">Копирование информации с сайта может быть осуществлено в некоммерческих целях для размещения на страницах посетителя, в блогах, социальных сетях. </font><font
                        style="vertical-align: inherit;">При работе с сайтом Клиенту не предоставляются права на интеллектуальную собственность ни на сам Сайт, ни на его содержание или использование каких-либо элементов брендинга или логотипов Сайта.</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12.6. </font><font
                        style="vertical-align: inherit;">Сайт может содержать ссылку на другие сайты. </font><font
                        style="vertical-align: inherit;">Такие ссылки приведены исключительно для информационных целей и помогают нам наиболее полно раскрыть информацию или иллюстрировать размещенный материал. </font><font
                        style="vertical-align: inherit;">Тот факт, что мы даем ссылку на внешний ресурс, не означает, что мы полностью одобряем изложенные там позиции или идеи, а также не гарантируем достоверность размещенной там информации. </font><font
                        style="vertical-align: inherit;">Мы не несем ответственности за политику конфиденциальности или содержание этих сайтов.</font></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Реквизиты Организатора</font></font></span>
    </p>
    <p class="c1 c9"><span class="c5 c4"></span></p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Физическое лицо предприниматель Лось Дмитрий Владимирович</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Адрес: Украина, 14032, Украина, 14032, Черниговская обл., город Чернигов, УЛИЦА ГЕНЕРАЛА БЕЛОВА, дом 18, квартира 109</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Код по ЕГРПОУ: 3296817850</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">IBAN: UA513220010000026003320056004 в АО "УНИВЕРСАЛ БАНК"</font></font></span>
    </p>
    <p class="c1"><span class="c5 c4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">электронная почта: goodhelpua@gmail.com</font></font></span>
    </p>
    <p class="c9 c12"><span class="c5 c4"></span></p>
    <p class="c9 c20"><span class="c5 c4"></span></p></div>