{% extends '@landing/layout/main.html.twig' %}

{% block content %}
    <div class="error-page-container">
        <div>
            <div>
                Такой страницы у нас нет.
            </div>
            <div>
                Зато есть много других ;)
            </div>
        </div>
    </div>

    <style>
    </style>
{% endblock %}