{% extends '@landing/layout/main.html.twig' %}

{% block content %}
    <div class="error-page-container">
        <div>
            <div>
                К сожалению у нас что-то сломалось ;(
            </div>
            <div>
                Мы ищем в чем дело и починим это как можно скорее.
            </div>
        </div>
    </div>
{% endblock %}