.gh-blog {
  &__main-block {
    width: 116.5rem;
    margin: 0 auto;

    @include mobile {
      max-width: 100vw;
      padding: 0 1rem;
    }

    @include tablet-full {
      max-width: 100vw;
      padding: 0 4rem;
    }
  }
}

.gh-post-list {
  &-wrapper {
    display: flex;
    gap: 5.4rem;
    align-items: flex-start;

    @include mobile {
      flex-direction: column;
    }

    @include tablet-full {
      gap: 2.5rem;
    }
  }

  width: 77.6rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @include tablet-full {
    width: 65%;
  }

  @include mobile {
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &-author-date {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.4;
    }

    &-preview {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.4;

      & p {
        margin: 0;
      }

      & img {
        display: block;
        max-width: 100%;

        margin-top: 2rem;
        margin-bottom: 2rem;

        box-shadow: $box-shadow-1;

        border-radius: 3rem;
      }
    }
  }

  &__pagination {
    margin-bottom: 9rem;

    @include mobile {
      margin-bottom: 0;
    }
  }
}

.gh-blog-sale {
  position: relative;
  padding: 4rem 3rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  width: 34rem;
  box-shadow: $box-shadow-1;
  border-radius: 2rem;
  background: $color-primary-olive-3;

  @include mobile {
    max-width: 100%;
    align-self: center;
    margin-bottom: 4rem;
  }

  @include tablet-full {
    width: 35%;
  }

  &__logo {
    width: 18.3rem;
    height: auto;

    @include tablet-full {
      width: 13.3rem;
    }
  }

  &__heading {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 1.2;

    @include tablet-full {
      font-size: 2.2rem;
    }
  }

  &__advantage-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;

    &-item {
      display: flex;
      gap: 1rem;

      &-text {
        margin-top: .1rem;
      }

      & svg {
        align-self: flex-start;
        flex-shrink: 0;
      }
    }
  }

  &__phone-note {
    transform: translate(30px, 0);
  }
}