.gh-family-psiholog {
  padding-top: 3rem;
  padding-bottom: 12rem;
  position: relative;

  @include tablet-full {
    padding-bottom: 6rem;
  }

  @include mobile {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }


  &__soft-light {
    position: absolute;
    width: 127rem;
    height: 96rem;
    left: -185.8rem;
    top: 25.6rem;

    @include tablet-full {
      width: 78.7rem;
      height: 59.6rem;
      left: -112rem;
      top: 2.7rem;
    }

    background: $soft-light-gradient;

    &-container {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
    }
  }

  &__h1 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.2;
    margin: 0;

    @include tablet-full {
      font-size: 3.5rem;
    }

    @include mobile {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  &__h2 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;

    @include tablet-full {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__box {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;

    @include tablet-full {
      display: block;
    }
    @include mobile {
      flex-direction: column-reverse;
      gap: 2rem;
    }

    &-info {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.4;
      width: 77rem;
      margin-top: 1.6rem;


      @include tablet-full {
        font-size: 1.5rem;
        width: 69.2rem;
        margin-top: 1.5rem;
      }

      @include mobile {
        font-size: 1rem;
        width: 29rem;
        margin-top: 1rem;
        text-align: justify;
      }
    }

    &-frame {
      border-style: double;
      border-color: $color-primary-olive-1;
      text-align: center;
      padding: 1.5rem;
    }
    &-family-photo {
      width: 37rem;
      height: max-content;
      margin: auto;

      @include tablet-full {
        width: 33.1rem;
        float: right;
        margin-top: 5rem;
      }

      @include mobile {
        width: 29rem;
      }

    }
  }


}

