.gh-psiholog-profile {
  &-container {
    margin-top: 5rem;
    padding-bottom: 9.5rem;

    @include media(tablet-full, mobile) {
      margin-top: 2rem;
    }
  }

  display: flex;
  gap: 6rem;

  @include tablet-full {
    gap: 3rem;
  }

  @include mobile {
    flex-direction: column;
    gap: 4rem;
  }

  &__soft-light {
    position: absolute;

    width: 127rem;
    height: 96.3rem;
    left: -179rem;
    top: 6rem;

    @include tablet-full {
      width: 78.7rem;
      height: 59.6rem;

      left: -116rem;
      top: 0;
    }

    background: $soft-light-gradient;

    &-container {
      position: absolute;
      left: 50%;
      width: .1rem;
      height: 0;
    }
  }

  &__short {
    &--static {
      position: static;
      top: initial;
    }

    position: sticky;
    top: 1rem;

    width: 33.9rem;
    padding: 4rem 3rem 3rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @include tablet-full {
      padding: 3rem 1.5rem 2rem 1.5rem;
      gap: 2rem;
    }

    @include mobile {
      width: 28.9rem;
      position: static;
      gap: 2rem;
    }

    align-self: flex-start;

    border-radius: 2rem;

    background-color: $color-white-1;
    box-shadow: $box-shadow-1;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      margin: 0;
    }

    &-name {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.2;

      @include media(tablet-full, mobile) {
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.2;
      }
    }

    &-trait {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.2;
    }

    & .gh-button {
      width: 100%;
    }

    &-price {
      display: flex;
      gap: .4rem;
      align-items: flex-end;

      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;
      }

      &-title {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.2;
        color: $color-primary-carrot-1;

        @include media(tablet-full, mobile) {
          font-weight: 700;
          font-size: 1.2rem;
          line-height: 1.2;
        }
      }

      &-from, &-currency {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.1;
        color: $color-black-2;

        @include media(tablet-full, mobile) {
          font-weight: 400;
          font-size: 1.2rem;
        }
      }

      &-value {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: .9;
        color: $color-black-2;

        @include tablet-full {
          font-weight: 400;
          font-size: 2rem;
          line-height: .9;
        }
      }
    }

    &-book-container {
      width: 100%;
      display: flex;
      gap: 1.1rem;

      & .gh-button {
        @include tablet-full {
          padding: 1rem 2.3rem;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.2;
        }
        @include mobile {
          padding: 1rem 4rem;
          //font-weight: 500;
          //font-size: 1.4rem;
          //line-height: 1.2;
        }
      }
    }

    &-like-psiholog {
      //height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 5rem;
      //width: 5rem;
      border: .1rem solid $color-primary-carrot-1;
      border-radius: 50%;

      @include tablet-full {
        max-width: 3.7rem;
      }
    }
  }

  &__full {
    & .gist {
      display: flex;
      gap: 3rem;

      @include tablet-full {
        flex-direction: column;
        gap: 1.5rem;
      }

      @include mobile {
        flex-direction: column;
        gap: 1.5rem;
      }

      &__item {
        display: flex;
        gap: 2rem;
        align-items: center;

        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.4;
      }
    }

    & .therapy {
      margin-top: 4rem;

      &__head {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.2;

        @include tablet-full {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 2rem;
        }
      }

      &__item {
        padding: 1rem 3rem;
        border-radius: 11rem;

        color: $color-black-1;
        background-color: $color-primary-olive-3;

        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.25;

        @include tablet-full {
          padding: 1rem 2rem;
          display: flex;
          align-items: center;
          text-align: center;
        }

        &-list {
          display: flex;
          gap: 1rem;
          margin-top: 3rem;

          @include media(tablet-full, mobile) {
            margin-top: 1.5rem;
          }

          @include mobile {
            flex-wrap: wrap;
          }
        }
      }
    }

    & .mobile-header {
      display: none;

      @include mobile {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        margin-top: 3rem;

        background-color: $color-background-semi-white-1;

        padding: 1rem 1.5rem;

        & .gh-button {
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.5rem;
          padding: .7rem 1.95rem;
        }

        &__avatar {
          border-radius: 50%;
          width: 4.5rem;
          height: 4.5rem;
          object-fit: cover;
          overflow: hidden;
          margin-right: 1rem;
        }

        &__info {
          margin-right: .6rem;
          display: flex;
          flex-direction: column;
          gap: .7rem;
          white-space: nowrap;

          &-name {
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1.2;
          }
        }

        &__price {
          &-from, &-currency {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.1;
          }
          &-value {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: .9;
          }
        }
      }
    }

    & .about {
      margin-top: 5rem;

      @include tablet-full {
        margin-top: 4rem;
      }

      @include mobile {
        margin-top: 4rem;
      }

      &__head {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.2;

        @include tablet-full {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 2rem;
        }
      }

      &__body {
        margin-top: 3rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.4;

        @include tablet-full {
          margin-top: 1.5rem;
        }

        @include mobile {
          margin-top: 1.5rem;
        }
      }
    }

    & .topics {
      margin-top: 5rem;

      @include tablet-full {
        margin-top: 4rem;
      }

      &__head {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.2;

        @include tablet-full {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 2rem;
        }
      }

      &__list {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include tablet-full {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 3rem;
        }

        @include mobile {
          margin-top: 1.5rem;
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
      }

      &__group {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include tablet-full {
          gap: 1rem;
        }

        &-head {
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 1.2;

          color: $color-grey-4;

          @include mobile {
            font-size: 1.6rem;
          }
        }

        &-items {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem 3rem;

          @include tablet-full {
            grid-template-columns: 1fr;
            gap: 2rem;
          }

          @include mobile {
            grid-template-columns: 1fr;
            gap: 2rem;
          }

          font-weight: 400;
          font-size: 1.8rem;
          line-height: 1.2;
          color: $color-black-1;
        }
      }

      &__topic {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        @include mobile {
          gap: 1rem;
        }

        &-icon {
          width: 3rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;

          @include tablet-full {
            width: 2rem;
            height: 2rem;

            & > svg {
              width: 100%;
              height: auto;
            }
          }

          @include mobile {
            width: 2rem;
            height: 2rem;

            & > svg {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    & .qualification {
      margin-top: 5rem;

      &__head {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.2;

        @include tablet-full {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 2rem;
        }
      }

      &__body {
        margin-top: 3rem;

        @include mobile {
          margin-top: 1.5rem;
        }
      }

      &__tab {
        &-list {
          display: flex;
          gap: 4rem;

          font-weight: 500;
          font-size: 1.8rem;
          line-height: 1.2;
          color: $color-black-1;
          border-bottom: .3rem solid $color-grey-5;

          @include tablet-full {
            display: none;
          }

          @include mobile {
            display: none;
          }
        }

        padding-bottom: 1rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: .3rem;
          background-color: $color-primary-olive-2;
          bottom: -.3rem;
          left: 0;
          display: none;
        }

        &--active::after {
          display: initial;
        }

        &:hover {
          cursor: pointer;
          &::after {
            display: initial;
          }
        }
      }

      &__item {
        display: none;

        &:not(:first-child) {
          margin-top: 2rem;
        }

        @include tablet-full {
          display: block;
        }

        @include mobile {
          display: block;
        }

        &--active {
          display: block;
        }

        &-education {
          &-head {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1.2;

            color: $color-grey-4;
          }

          &-list {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &-row {
              display: flex;
              gap: 3rem;

              @include tablet-full {
                flex-direction: column;
                gap: 1.5rem;
              }

              @include mobile {
                flex-direction: column;
                gap: 1.5rem;
              }
            }
          }

          &-year-range {
            width: 10rem;

            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.4;

            text-align: justify;
            flex-shrink: 0;
          }

          &-title {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.4;
          }

        }

        &-list {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          &-row {
            display: flex;
            gap: 1.5rem;
            align-items: center;
          }

          &-check-icon {
            width: 2rem;
            height: auto;
            margin-top: .4rem;
          }

          &-label {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.4;
          }
        }

        &-review {

          display: flex;
          gap: 3rem;

          @include tablet-full {
            flex-direction: column;
            gap: 1.5rem;
          }

          @include mobile {
            flex-direction: column;
            gap: 1.5rem;
          }

          &:not(:first-child) {
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: .1rem solid $color-grey-3;
          }

          &-info {
            display: flex;
            flex-direction: column;
            gap: .9rem;
            flex-shrink: 0;
            width: 17.6rem;
          }

          &-name {
            font-weight: 500;
            font-size: 2rem;
            line-height: 1.4;
          }

          &-date {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.2;

            color: $color-grey-4;
          }

          &-content {
            display: flex;
            gap: 1rem;
          }

          &-body {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.4;
            font-style: italic;
          }

          &-list {
            flex-direction: column;
          }
        }

        &-head {
          @include desktop {
            display: none;
          }

          @include media(tablet-full, mobile) {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.9rem;

            padding: 1.5rem;

            border-radius: 1rem;

            box-shadow: 0 1.5rem 5rem rgba($color-black-1, 0.05), 0 .3rem 1rem rgba($color-black-1, 0.025);

            &-icon {
              margin-left: auto;
              transition-property: all;
              transition-duration: .5s;

              & path {
                transition-property: fill;
                transition-duration: .5s;
              }
            }
          }
        }

        @include media(tablet-full, mobile) {
          &--opened {
            & .qualification__item-content {
              max-height: 1000rem;
              opacity: 1;
              margin-top: 2rem;
            }

            & .qualification__item-head-icon {
              transform: rotateZ(135deg);
            }

            & .qualification__item-head-icon path {
              fill: $color-primary-carrot-1;
            }
          }
        }
        &-content {
          @include media(tablet-full, mobile) {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all .5s;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
        }
      }
    }
  }

  & .gh-button--outlined-olive {
    @include media(tablet-full, mobile) {
      padding: .8rem 1.15rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.2;
    }
  }


  &-container {
    position: relative;

    & .second-soft-light {
      &__container {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -1;
        top: 0;

        &-container {
          position: absolute;
          left: 50%;
        }
      }

      &__actual-light {
        width: 127rem;
        height: 96.3rem;
        left: 59rem;
        top: 175rem;
        position: absolute;

        background: $soft-light-gradient;
      }
    }
  }
}

.gh-avatar--profile {
  width: 25rem;
  height: 25rem;

  @include tablet-full {
    width: 15rem;
    height: 15rem;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @include mobile {
    width: 15rem;
    height: 15rem;
  }
}



.gh-psiholog-profile__mobile-header {
  display: none;

  @include mobile {
    z-index: 2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin-top: 3rem;

    background-color: $color-background-semi-white-1;

    padding: 1rem 1.5rem;

    & .gh-button {
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding: .7rem 1.95rem;
    }

    &-avatar {
      border-radius: 50%;
      width: 4.5rem;
      height: 4.5rem;
      object-fit: cover;
      overflow: hidden;
      margin-right: 1rem;
      flex-shrink: 0;
    }

    &-info {
      margin-right: .6rem;
      display: flex;
      flex-direction: column;
      gap: .7rem;
      white-space: nowrap;

      &-name {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2;
      }
    }

    &-price {
      &-from, &-currency {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1;
      }
      &-value {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: .9;
      }
    }
  }
}