.gh-request-psiholog {
  margin-top: 4rem;
  margin-bottom: 12.5rem;

  @include media(tablet-full, mobile) {
    margin-top: 2rem;
    margin-bottom: 7rem;
  }

  &__psiholog {
    display: none;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      width: 28.9rem;
    }

    @include tablet-full {
      width: 69.1rem;
    }

    @include media(tablet-full, mobile) {
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      margin-top: 1rem;
      background-color: #FDFDFD;
      padding: 1rem 1.5rem;
      z-index: 2;
    }

    &-avatar {
      border-radius: 50%;
      width: 4.5rem;
      height: 4.5rem;
      object-fit: cover;
      overflow: hidden;
      margin-right: 1rem;
    }

    &-info {
      display: flex;
      flex-grow: 1;
    }

    &-name-and-single-phrase {
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
    }

    &-name {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.2;
    }

    &-price {
      margin-top: .1rem;
      margin-left: auto;


      &-from {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1;
      }
      &-value {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 0.9;
      }
      &-currency {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1;
      }
    }
  }

  &__h1 {
    margin: 0;

    font-weight: 500;
    font-size: 4.5rem;
    line-height: 1.2;

    @include tablet-full {
      font-size: 3.5rem;
    }

    @include mobile {
      font-size: 3.1rem;
      text-align: center;
    }
  }

  &-container {
    display: flex;
    gap: 6rem;
    margin-top: 5rem;

    @include media(tablet-full, mobile) {
      gap: 2rem;
      margin-top: 3rem;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__step {
    padding: 2rem 3rem;
    border-radius: 2rem;
    box-shadow: $box-shadow-1;
    background-color: $color-white-1;
    opacity: .5;

    @include media(tablet-full, mobile) {
      padding: 1.5rem;
      border-radius: 1rem;
    }

    @include mobile {
      display: none;
    }

    &--active {
      @include mobile {
        display: block;
      }
      opacity: 1;
      background-color: $color-primary-olive-2;
    }

    &:hover {
      cursor: pointer;
      border: .1rem solid $color-primary-olive-2;
      margin: -.1rem;
    }

    &-list {
      display: flex;
      gap: 3rem;

      @include tablet-full {
        gap: 2.1rem;
      }
    }

    &-number-label {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.2;
      margin-bottom: .5rem;

      @include media(tablet-full, mobile) {
        font-size: 1.2rem;
      }
    }

    &-name {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.2;

      @include media(tablet-full, mobile) {
        font-size: 1.8rem;
      }
    }

    &-content {
      display: none;

      &--active {
        display: initial;
      }
    }
  }

  &__section {
    margin-top: 5rem;

    @include tablet-full {
      margin-top: 4rem;
    }

    @include mobile {
      margin-top: 3rem;
    }

    &-header {
      font-weight: 500;
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 3rem;
      position: relative;

      @include tablet-full {
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }

      @include mobile {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }

    &-sub-header {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1.2;

      color: $color-grey-4;
      margin-top: 3rem;
      margin-bottom: 2rem;

      @include tablet-full {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
      }

      @include mobile {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
      }
    }

    &-content {
      &--sex {
        display: flex;
        gap: 1rem;

        @include tablet-full {
          & > * {
            flex: 1 1 0px;
          }

          & .gh-switch {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.2rem;
          }

          & .gh-switch-new > label {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.2rem;
          }
        }

        @include mobile {
          flex-direction: column;
        }
      }

      &--problem {
        display: flex;
        gap: 2rem 3rem;
        flex-wrap: wrap;

        @include tablet-full {
          padding-left: 2rem;
          padding-right: 2rem;
          gap: 1.5rem;
          display: none;

          &--active {
            display: flex;
          }
        }

        @include mobile {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          gap: 1.5rem;
          display: none;
          align-items: stretch;

          &--active {
            display: flex;

            &:not(:last-child) {
              margin-bottom: 2rem;
            }
          }
        }

        & > .gh-switch {
          width: 23.5rem;

          display: flex;
          align-items: center;

          gap: 1.5rem;
          text-align: left;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.7rem;

          @include mobile {
            flex-grow: 1;

            & > svg {
              width: 2rem;
              height: 2rem;
            }
          }

          @include tablet-full {
            //align-self: flex-start;
            width: 20.7rem;

            & > svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }

        & > .gh-switch-new > label {
          width: 23.5rem;

          display: flex;
          align-items: center;
          justify-content: initial;

          gap: 1.5rem;
          text-align: left;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.7rem;

          @include mobile {
            flex-grow: 1;

            & > svg {
              width: 2rem;
              height: 2rem;
            }
          }

          @include tablet-full {
            //align-self: flex-start;
            width: 20.7rem;

            & > svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }

      &--lgbtq {
        display: flex;
        gap: 1rem;

        & > .gh-switch {
          min-width: 9rem;
        }

        & > .gh-switch-new {
          min-width: 9rem;
        }
      }

      &--channel {
        display: flex;
        gap: 2rem 3rem;
        flex-wrap: wrap;

        @include tablet-full {
          gap: 1rem 2rem;
        }

        @include mobile {
          gap: 1rem;
        }

        & > .gh-switch {
          width: 23rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.7rem;

          @include tablet-full {
            width: 33.5rem;
            padding: 1rem 2rem;
            justify-content: center;

            & > svg {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
            }
          }

          @include mobile {
            font-size: 1.4rem;
            width: 13.8rem;
            padding: 1rem 1.5rem;
            justify-content: center;

            & > svg {
              width: 2rem;
              height: 2rem;
            }

          }
        }

        & > .gh-switch-new > label {
          width: 23rem;
          display: flex;
          align-items: center;
          justify-content: initial;
          gap: 1rem;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.7rem;

          @include tablet-full {
            width: 33.5rem;
            padding: 1rem 2rem;
            justify-content: center;

            & > svg {
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
            }
          }

          @include mobile {
            font-size: 1.4rem;
            width: 13.8rem;
            padding: 1rem 1.5rem;
            justify-content: center;

            & > svg {
              width: 2rem;
              height: 2rem;
            }

          }
        }

      }
    }
  }

  &__next {
    margin-top: 3rem;

    display: flex;
    gap: 2.7rem;

    @include media(tablet-full, mobile) {
      margin-top: 3rem;
      gap: 4rem;
      flex-direction: column;
    }

    @include mobile {
      margin-top: 7rem;
      & .gh-button {
        flex-grow: 1;
      }
    }
  }

  &__benefits {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-self: flex-start;

    position: sticky;
    top: 2rem;

    @include media(tablet-full, mobile) {
      display: none;
    }
  }

  &__benefit {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 34rem;

    padding: 3rem;
    border-radius: 2rem;
    background-color: $color-white-1;
    box-shadow: $box-shadow-1;

    &-title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.2;
    }

    &-description {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }

  &__contacts {
    display: flex;
    gap: 3rem;

    @include mobile {
      flex-direction: column;
    }
  }

  &__contact {
    flex-grow: 1;

    & .gh-request-psiholog__section-sub-header {
      margin-top: 0;
    }
  }

  &__collapsable {
    display: none;

    @include media(tablet-full, mobile) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: $box-shadow-1;

      padding: 1.5rem;
      background-color: $color-white-1;

      border-radius: 1rem;
      margin-bottom: 1.5rem;


      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;

      color: $color-black-1;
      transition: .3s transform;

      &:active {
        cursor: pointer;
        transform: scaleX(.99) scaleY(.99);
      }

      &-icon, & path {
        transition: .3s transform;
      }

      &--active > &-icon {
        transform: rotateZ(135deg);
      }

      &--active path {
        fill: $color-primary-carrot-1;
      }
    }
  }

  &__form {
    @include tablet-full {
      width: 100%;
    }
  }
  
  &__back-btn {
    &--top {
      display: none;
    }

    @include mobile {
      &--top {
        display: inline-flex;
        font-size: 1.4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }

  }

  &__i-have-promo {
    margin-left: 1rem;
    margin-top: 2.5rem;
    font-size: 1.8rem;

    font-weight: 500;
    line-height: 1.2;
    text-decoration: underline;

    &-content {
      margin-top: 1.5rem;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}