{% extends '@landing/layout/main.html.twig' %}

{% block page_title %}
    {{ 'Семейный психолог. Христианский психолог. GoodHelp'|trans }}
    - {{ psihologProfile.fullName|trans }}
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="container-lg pt-md-5 pt-sm-4 pt-3" style="max-width: 1140px">
            <div class="row">
                <div class="col-sm-5">
                    {% include '@landing/pages/psiholog-profile-photo-carousel/' ~ psihologProfile.profileTemplate ~ '.html.twig' %}
                </div>
                <div class="col-sm-7">
                    {% include '@landing/partials/psiholog-profile/_name-and-price.html.twig' with {
                        name: psihologProfile.fullName,
                        price: priceIndividual.price,
                        currency: 'грн'
                    } %}

                    {% include '@landing/partials/psiholog-profile/_book-consultation-btn.html.twig' %}

                    {% include '@landing/partials/psiholog-profile/_experience.html.twig' with {
                        title: "Работаю с клиентами %years% лет"|trans({"%years%": 12}),
                        text: "За это время ко мне обратилось более %people% человек в личную, семейную и парную терапию"|trans({"%people%": 1000})
                    } %}

                    {% include '@landing/partials/psiholog-profile/_specializations.html.twig' with {
                        specializations: [
                            "Cемейный психолог",
                            "Работа с кризисами и травмой",
                            "Христианский психолог",
                        ]
                    } %}

                    {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                        title: "С чем я работаю лучше всего",
                        list: [
                            "Как улучшить отношения в паре",
                            "Как женщине изменить свою жизнь к лучшему.",
                            "Как понять, какое событие из прошлого или страх мешает реализовать свой потенциал.",
                            "Как женщине перестать тянуть все на себе",
                            "Как улучшить отношения с подростком",
                            "Как перестать себя критиковать и чувствовать полную потерянность.",
                            "Как найти реальные причины, по которым вы находитесь там, где вы сейчас и найти в себе опору, чтобы достичь желаемого.",
                        ]
                    } %}

                    {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                        title: "Принципы работы, которые я использую",
                        iconClass: 'fa-shield-alt',
                        list: [
                            "Конфиденциальность – все, что проговорено в кабинете не выйдет за границы кабинета.",
                            "Безопасность – вы будете находится в полностью безопасном для вас пространстве.",
                            "Добровольность – вы будете полностью свободны в своем выборе и решениях.",
                            "Время – я бережно отношусь к своему времени и времени клиента.",
                        ]
                    } %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-header">
                            {% include '@landing/partials/psiholog-profile/_tabs.html.twig' %}
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="about-psiholog" role="tabpanel"
                                     aria-labelledby="about-psiholog-tab">

                                    {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                                        title: "С какими клиентами и запросами я работаю:",
                                        iconClass: 'fa-plus',
                                        cardClass: ' border-0 text-start',
                                        cardTextClass: '  mt-3 ms-1',
                                        list: [
                                            "С теми, кто хочет и готов к переменам в своей жизни. И кто готов для этого делать конкретные шаги.",
                                            "Помогаю женщинам улучшить отношения с мужчиной.",
                                            "Помогаю парам решить вместе они хотят быть или отдельно.",
                                            "Помогаю родителям понять и принять своего подростка.",
                                            "Помогаю подросткам наладить отношения с собой и родителями.",
                                            "Помогаю людям пережить сложный период и вернуться к жизни.",
                                            "Помогаю волонтерам справиться с выгоранием.",
                                            "Помогаю людям, выехавшим в другую страну, адаптироваться к новой жизни.",
                                            "Помогаю пережить потерю близкого человека.",
                                        ]
                                    } %}

                                    {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                                        title: "С какими клиентами и запросами я не работаю:",
                                        iconClass: 'fa-minus',
                                        cardClass: ' border-0 text-start',
                                        cardTextClass: '  mt-3 ms-1',
                                        list: [
                                            "Химические зависимые.",
                                            "С клиентами с незавершенным суицидом",
                                            "Люди, у которых нет мотивации работать над собой",
                                        ]
                                    } %}

                                    <hr>

                                    <div class="accordion accordion-flush" id="accordionExample">
                                        {% set accordionItemNumber = 0 %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Что вы получите от консультаций со мной",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Сможете открыто говорить партнеру о своих чувствах и потребностях.',
                                                'Научитесь договариваться, если в отношениях что то не устраивает: деньги, секс, власть.',
                                                'Поймете как вернуть любовь и близость в отношения.',
                                                'Научитесь замечать злость и в выражать ее конструктивно.',
                                                'Разберетесь, как сохранять чувство меры для получения удовольствия.',
                                                'Научитесь ценить свои успехи и двигать жизнь в нужную сторону.',
                                                'Создадите технику управления своим личным временем.',
                                                'Поймете, какие сценарии и установки на счет денег тормозят развитие вашего дохода.',
                                                'Поймете, как выбраться из воспоминаний о несчасливом детстве и научитесь выяснять отношения здесь и сейчас.',
                                                'Научитесь лучше чувствовать тело и отделять свою территорию.',
                                                'Выработаете навык замечать манипуляции и не поддаваться им.',
                                                'Научитесь взращивать самоподдержку в неловких ситуациях.',
                                                'Посмотрите, что мешает распознать за неприглядностью собственную уникальность.',
                                                'Начнете делать выборы из собственного хочу, отказывать другим и прощать себе ошибки.',
                                                'Поймете, что действительно хотят сказать нам родители и как донести до них всю правду.',
                                                'Найдете самый бережный способ, как научить детей опираться на себя.',
                                                'Научитесь помогать, слушать и сохранять мир в отношениях с родителями, но жить своей жизнью.',
                                                'Выработаете ваш индивидуальный подход к разрешению конфликтов.',
                                                'Поймете, почему важно грустить и как в эти моменты не сделать себе хуже.',
                                                'Обсудите, откуда приходит ревность и как с ее помощью можно укрепить отношения.',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Почему стоит обратиться именно ко мне",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Большой опыт. За эти годы работы провела более чем 1000 индивидуальных консультаций со взрослыми, детьми, подростками, родителями, тренинги, мастер-классы, терапевтическую группу.',
                                                'Разработала авторскую программу и провела терапевтическую женскую группу, которая направлена на исцеление партнерских отношений.',
                                                'Считаю, что занятие психологией и психотерапией помогают мне раскрывать собственные таланты и вдохновлять на действие других.',
                                                'Я люблю то, чем занимаюсь и уважаю людей, которые мне передали знания, свое окружение.',
                                                'Ценю тех, кто ко мне обращается за помощью.',
                                                'И считаю, что имею полное право заниматься любимым делом, которое приносит радость мне и пользу людям.',
                                                'Постоянно повышаю свои знания и опыт в своей профессии.',
                                                'Имею личный опыт проживания кризисных состояний и выхода из них.',
                                                'Имею опыт адаптации в другой стране.',
                                                'Имею опыт выхода из сложных личных отношений.',
                                            ]
                                        } %}



                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% embed '@landing/partials/psiholog-profile/_accordion-item-card.html.twig' with {
                                            buttonTitle: "Ко мне приходят, чтобы найти ответы на эти вопросы",
                                            itemNumber: accordionItemNumber,
                                        } %}
                                            {% block cardText %}
                                                {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                                                    title: "Как к личному психологу",
                                                    list: [
                                                        'Мой мужчина как ребенок, хочу чтобы он научился принимать решения.',
                                                        'Я тяну все не себе и хочу это изменить.',
                                                        'Как перестать ругаться с партнером и услышать друг друга.',
                                                        'Что мне сделать, чтобы в моей жизни было не как у мамы.',
                                                        'Я чувствую, что он/она мне изменяет, как мне быть.',
                                                        'Как мне пережить измену партнера и простить.',
                                                        'Как мне принять отношения родителей такими, какие они есть и выбрать то хорошее, на что в них можно опереться',
                                                        'У меня ужас перед конфликтами, в моей семье никогда не ругались.',
                                                        'Как мне вернуть интерес и страсть к партнеру',
                                                        'Муж прислушивается к своей маме больше, чем ко мне, хочу чтобы было наоборот.',
                                                        'Хочу получать больше заботы и внимания от партнера',
                                                        'Мне не хватает ощущения ценности от партнера и душевного общения, что делать.',
                                                        'Хочу чтобы партнер, что-то делал для поддержания и развития отношений.',
                                                        'Я жертвую своими интересами и потребностями ради партнера, подстраиваюсь под него, хочу это изменить.',
                                                        'Боюсь, что не успею построить семью, родить детей.',
                                                        'Боюсь, что потеряю финансовую стабильность в отношениях.',
                                                        'Боюсь, что меня бросят, мне будет очень больно и это мешает войти в отношения.',
                                                        'Боюсь начинать отношения после долгой паузы, неудачных предыдущих отношений',
                                                        'Есть чувство, что со мной что-то не так, помогите разобраться.',
                                                        'Как мне пережить боль разрыва и страх новых отношений.',
                                                        'Как не сойти с ума, когда отношений нет.',

                                                    ]
                                                } %}
                                                {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                                                    title: "Как к семейному психологу, вместе с партнером",
                                                    list: [
                                                        'Хотим понять, нам лучше вместе или раздельно.',
                                                        'Мы часто ругаемся, но хотим сохранить отношения, помогите нам понять друг друга.',
                                                        'Есть что-то о чем мы не можем сказать друг другу, помогите это сделать',
                                                        'Помогите пережить измену партнера',
                                                        'Мы не можем разделить обязанности между собой, чтобы обоим было комфортно',
                                                        'Мы не можем разделить власть и ответственность между собой',
                                                        'Не выходит распределять семейный бюджет',
                                                    ]
                                                } %}
                                                {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                                                    title: "Как к подростковому психологу",
                                                    list: [
                                                        'Как мне справится с моим подростком',
                                                        'Как помочь ребенку убрать странные мысли, которых он боится',
                                                        'Мой подросток постоянно моется, убирает, что с этим делать',
                                                        'Мой подросток постоянно грубит, перестал учиться, появились странные друзья',
                                                        'Мой подросток слишком послушный, есть странные увлечения, нет друзей',
                                                        'Мой подросток стал слишком агрессивным, что мне делать',
                                                        'Помогите мне понять моего подростка',
                                                    ]
                                                } %}

                                            {% endblock %}
                                        {% endembed %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Базовое психологическое образование",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'НПУ им М.П. Драгоманова, магистр психологии.',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Где я обучалась психотерапии",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Институт рационально-интуитивной психотерапии Я. Детский и подростковый психотерапевт.',
                                                'Консультант в методе Позитивная психотерапия. Сертификат Висбаденской академии позитивной психотерапии.',
                                                'Сертифицированный психотерапевт в методе Позитивная психотерапия, сертификат Висбаденской Академии Позитивной Психотерапии.',
                                                'Обучение в направлении NEST (работа с травмой, руководители Анжей Винклер, Витолд Симон, Польша.',
                                                'Психиатрическая пропедевтика, Школа развития психотерапии, ведущие Кузнецов И., Бондарчук А.',
                                                'Стажировка в психоневрологической больнице им. Павлова, руководитель Бялая М.П.',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Дополнительное образование (тренинги, курсы, лекции)",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Нахожусь в процессе сертификации на внесение в реестр психотерапевтов, рекомендованных Европейской ассоциацией психотерапевтов.',
                                                'Диагностика и психокоррекция детей с особенностями развития.',
                                                'Нейропсихологическая диагностика и коррекция в детском возрасте.',
                                                'Непрерывное повышение квалификации в супервизионных и интервизорских группах ВАПП, УИПП, конференциях, семинарах, тренингах NEST. ',
                                                'Работа с травмой. Анжей Винклер, Витолд Симон.',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Методы и подходы, которые использую",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Работа с эмоциями, с телом, с мыслями, визуализации, метафорические карты, песочная терапия',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% embed '@landing/partials/psiholog-profile/_accordion-item-card.html.twig' with {
                                            buttonTitle: "Как и почему я стала психологом",
                                            itemNumber: accordionItemNumber,
                                        } %}
                                            {% block cardText %}
                                                {{ 'inna_karaschuk_how_i_became_psi'|trans|raw }}
                                            {% endblock %}
                                        {% endembed %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% embed '@landing/partials/psiholog-profile/_accordion-item.html.twig' with {
                                            buttonTitle: "Сколько нужно встреч для решения моей проблемы?",
                                            itemNumber: accordionItemNumber,
                                        } %}
                                            {% block body %}
                                                {% include '@landing/partials/psiholog-profile/_what-can-i-get-for-n-consultations.html.twig' %}
                                            {% endblock %}
                                        {% endembed %}


                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% embed '@landing/partials/psiholog-profile/_accordion-item.html.twig' with {
                                            buttonTitle: "Языки на которых консультирую",
                                            itemNumber: accordionItemNumber,
                                        } %}
                                            {% block body %}
                                                {{ 'Украинский, русский и польский.'|trans }}
                                            {% endblock %}
                                        {% endembed %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="psiholog-reviews" role="tabpanel"
                                     aria-labelledby="psiholog-reviews-tab">
                                    {% include '@landing/partials/psiholog-profile/_reviews.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include '@landing/partials/psiholog-profile/_failed-to-book.html.twig' %}

            <div class="row">
                <div class="col-12">
                    {% include '@landing/partials/psiholog-profile/_book-consultation.html.twig' with {schedule: schedule} %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}