{% extends '@psiholog/layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Тут что-то будет</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div>
                        вопрос на подумать - может ли терапевт отказаться от клиента у нас. и если да, то как.
                    </div>
                    <div>
                        еще один вопрос на подумать - может ли терапевт отказаться от встречи или перенести ее. и правила этого. за сколько дней. какие санкции и тд.
                    </div>
                    <div>
                        Мы определили вашу таймзону как UTC+2:00. От нее зависит правильность времени встречь. Если у вас другая таймзона, <button>Укажите ее в настройках</button>
                    </div>
                </div>
            </div>
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Встречи на сегодня-завтра</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div>
                        Встречи на сегодня-завтра
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}