{% extends '@psiholog/layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <div>
                Фотка
            </div>
            <div>Стоимость встречи: 1500 ₴</div>
            <div>
                Содержимое анкеты (Зависит от того, что с Алисой составим)
            </div>
        </div>
    </div>
{% endblock %}