{% extends '@psiholog/layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
            <div>
                <div class="alert alert-elevate alert-light alert-bold" role="alert">
                    <div class="alert-text">У вас на счету сейчас 1500 ₴</div>
                </div>
            </div>
            <div>
                <p>
                    <button type="button" class="btn btn-brand">Пополнить на 1500 ₴ (1 встреча с вашим психологом)</button>
                </p>
                <p>
                    <button type="button" class="btn btn-brand">Пополнить на 3000 ₴ (2 встречи с вашим психологом)</button>
                </p>
                <p>
                    <button type="button" class="btn btn-brand">Пополнить на 4500 ₴ (3 встречи с вашим психологом)</button>
                </p>
                <p>
                    <button type="button" class="btn btn-brand">Пополнить на 6000 ₴ (4 встречи с вашим психологом)</button>
                </p>
                <p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">₴</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Введите сумму" min="50" max="100000" step="50">
                    <div class="input-group-append"><button type="button" class="btn btn-brand">Пополнить на другую сумму</button></div>
            </div>
        </div>
    </div>
{% endblock %}