{% extends '@landing/layout/main.html.twig' %}

{% block page_title %}
    {{ 'Политика конфиденциальности'|trans }} GoodHelp
{% endblock %}

{% block content %}
    <style type="text/css">
        .lst-kix_pmze7kicvbkz-6 > li:before {
            content: "\0025cf  "
        }

        .lst-kix_pmze7kicvbkz-7 > li:before {
            content: "\0025cb  "
        }

        .lst-kix_pmze7kicvbkz-0 > li:before {
            content: "\0025cf  "
        }

        .lst-kix_pmze7kicvbkz-8 > li:before {
            content: "\0025a0  "
        }

        .lst-kix_pmze7kicvbkz-1 > li:before {
            content: "\0025cb  "
        }

        .lst-kix_pmze7kicvbkz-3 > li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_pmze7kicvbkz-8 {
            list-style-type: none
        }

        .lst-kix_pmze7kicvbkz-2 > li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_pmze7kicvbkz-6 {
            list-style-type: none
        }

        ul.lst-kix_pmze7kicvbkz-7 {
            list-style-type: none
        }

        ul.lst-kix_pmze7kicvbkz-4 {
            list-style-type: none
        }

        .lst-kix_pmze7kicvbkz-5 > li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_pmze7kicvbkz-5 {
            list-style-type: none
        }

        ul.lst-kix_pmze7kicvbkz-2 {
            list-style-type: none
        }

        ul.lst-kix_pmze7kicvbkz-3 {
            list-style-type: none
        }

        ul.lst-kix_pmze7kicvbkz-0 {
            list-style-type: none
        }

        ul.lst-kix_pmze7kicvbkz-1 {
            list-style-type: none
        }

        .lst-kix_pmze7kicvbkz-4 > li:before {
            content: "\0025cb  "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c2 {
            border-right-style: solid;
            padding-top: 0pt;
            border-top-width: 0pt;
            border-right-width: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.9;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            border-bottom-style: solid;
            orphans: 2;
            widows: 2;
            text-align: left;
            padding-right: 0pt
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13.5pt;

            font-style: normal
        }

        .c3 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.9;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13.5pt;

            font-style: normal
        }

        .c11 {
            color: #333536;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;

            font-style: normal
        }

        .c8 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.9;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c9 {
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            text-decoration: underline;
            text-decoration-skip-ink: none
        }

        .c10 {
            color: inherit;
            text-decoration: inherit
        }

        .c6 {
            height: 11pt
        }

        .c5 {
            font-size: 13.5pt
        }

        .c1 {
            background-color: #ffffff
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;

            line-height: 1.9;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;

            line-height: 1.9;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;

            line-height: 1.9;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;

            line-height: 1.9;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;

            line-height: 1.9;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;

            line-height: 1.9;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;

            line-height: 1.9;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;

            line-height: 1.9;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }</style>
    <div style="max-width: 60rem; margin: 2rem auto;">
        {% if app.request.locale == 'ru' %}
            <div class="c1 c7">
                <p class="c2 c1"><span class="c5">Данная Политика конфиденциальности разработана на основании требований действующего законодательства Украины и регламента Европейского парламента и совета (ЕС) №2016 / 679 от 27.04.2016 (далее - Политика) и является неотъемлемой частью Договора о предоставлении услуг с использованием сервиса GoodHelp (далее - </span><span
                            class="c5 c1">Администратор</span><span class="c0">&nbsp;).</span></p>
                <p class="c2 c1"><span class="c0">Целью политики является информирование физических лиц, которые намерены стать пользователями Сервиса ли его Пользователями, о том, сбор какой именно информации осуществляется для оказания услуг, предусмотренных Договором, и каким образом она используется.</span>
                </p>
                <p class="c2 c1"><span class="c0">Если Вы намерены осуществлять пользование Сервисом или уже пользуетесь им, пожалуйста, внимательно ознакомьтесь с данной Политикой. В случае, если Вы в какой-либо степени не согласны с условиями, изложенными в этом документе, просим Вас воздержаться от использования Сервиса.</span>
                </p>
                <p class="c2 c1"><span class="c0">Факт использования Вами Сервиса является подтверждением того, что Вы ознакомились и принимаете условия данной Политики в полном объеме, а также того, что Вы дали согласие на сбор и обработку Ваших персональных данных.</span>
                </p>
                <p class="c2 c1"><span class="c0">Условия Политики могут быть изменены в любое время без персонального уведомления каждого пользователя путем публикации новой редакции Политики в Сервисе с указанием времени вступления в силу. Продолжение Вами Сервиса после вступления в силу Положения в новой редакции свидетельствует о принятии Вами новых условий в полном объеме.</span>
                </p>
                <p class="c2 c1"><span class="c4">Общие положения</span></p>
                <p class="c2 c1"><span class="c0">Определение терминов, используемых в этой Политике, соответствует определению, приведены в Договоре о предоставлении услуг с использованием сервиса GoodHelp.</span>
                </p>
                <p class="c2 c1"><span class="c0">Данной Политикой определяются:</span></p>
                <p class="c2 c1"><span class="c0">&nbsp; - виды информации, собираемой с помощью Сервиса для предоставления Услуг по Договору;</span>
                </p>
                <p class="c2 c1"><span class="c0">&nbsp; - цели обработки персональных данных, полученных от Пользователей;</span>
                </p>
                <p class="c2 c1"><span class="c0">&nbsp; - категории получателей персональных данных;</span></p>
                <p class="c2 c1"><span class="c0">&nbsp; - период хранения персональных данных;</span></p>
                <p class="c2 c1"><span
                            class="c0">&nbsp; - права Пользователей как владельцев персональных данных;</span></p>
                <p class="c2 c1"><span class="c0">&nbsp; - условия обеспечения защиты персональных данных.</span></p>
                <p class="c2 c1"><span class="c5 c1">Лицом, отвечает за сбор и обработку персональных данных, полученных от Вас в результате использования Вами Сервиса, является ФЛП Лось Дмитрий Владимирович (далее - Администратор).</span>
                </p>
                <p class="c8"><span class="c0 c1">Просим обратить внимание на то, что эта Политика не распространяется на сайты, переход на которые осуществляется с помощью ссылок, размещенных на Сайте и лиц, предоставляющих пользователю смежные услуги, связанные с Договором, в частности услуги по осуществлению переводов средств с целью оплаты Услуг по Договору. При переходе по ссылкам, размещенным в Сервисе, рекомендуем знакомиться с политикой по защите конфиденциальности и персональных данных каждого соответствующего сайта.</span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c2 c1"><span class="c0 c1">Виды информации, собираемой с помощью Сервиса для предоставления Услуг по Договору.</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Обращаем внимание на то, что предоставление услуг, предусмотренных Договором, не требует от Вас сообщение данных или их совокупности, позволяющие осуществить Вашу однозначную идентификацию как конкретного лица, то есть пользование Сервисом может быть анонимным.</span>
                </p>
                <p class="c8"><span class="c0 c1">Осуществление Вашей однозначной идентификации как конкретного лица возможно в случае, если при использовании Сервиса Вами будет предоставлена &ZeroWidthSpace;&ZeroWidthSpace;информация (отдельно или в совокупности) о Вашем настоящего имени, идентификационного номера, данных о местонахождении или уведомлен один или несколько факторов, которые являются определяющими для Вашей физической , физиологической, генетической, умственной, экономической, культурной или социальной сущности.</span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c8"><span class="c0 c1">С целью предоставления услуг средствами Сервиса запрашивается минимальный объем информации, необходимой исключительно для идентификации Вас как лица, являющегося Пользователем Сервиса.</span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c8"><span class="c0 c1">Информации, которая запрашивается и собирается администрацией являются:</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">К такой информации относится:</span></p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - контактный номер телефона, по которому с Вами может быть установлена &ZeroWidthSpace;&ZeroWidthSpace;связь с целью предоставления услуг;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - никнейм, что является именем, которое Вы хотите использовать в Сервисе, в случае совершения Вами регистрации;</span>
                </p>
                <p class="c8"><span class="c0 c1">Другие Ваши данные, которые могут быть отнесены к Персональных данных (например, Ваши фамилия, имя, отчество, дата и год рождения и т.д.), Администратор собирает только в том случае, если такие данные добровольно предоставленные Вами как субъектом персональных данных в целях использования сервисов (например, при осуществлении регистрации пользователя в Сервисе, заполнении заявки на получение Консультации, размещенной на Сайте, в процессе получения услуг). Факт предоставления Вами таких данных является Вашего согласия как субъекта персональных данных на обработку своих персональных данных в соответствии с сформулированной в этой Политике цели их обработки.</span>
                </p>
                <p class="c8"><span class="c0 c1">Администратор не собирает любую информацию, к обработке которой, законодательством установлены определенные требования, как то информацию о расовом или этническом происхождении, политических, религиозных или мировоззренческих убеждениях, членстве в политических партиях и профессиональных союзах, осуждения к уголовному наказанию в совершении преступления или осуждения к уголовному наказанию, а также данных, касающихся здоровья, половой жизни, биометрических или генетических данных (согласно статье 7 Закона Украины «О защите персональных данных», статьи 9 регламента Евр опейського парламента и совета (ЕС) №2016 / 679 от 27.04.2016).</span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c8"><span class="c0 c1">Указанная в предыдущем абзаце информация может обрабатываться администрацией исключительно в случае добровольного предоставления Вами такой информации при предоставлении услуг и в случае предоставления Вами однозначного отдельной согласия на ее обработку для одной или нескольких определенных целей обработки такой информации.</span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c2 c1"><span class="c4 c1">Информация об использовании Вами Сервиса</span></p>
                <p class="c2 c1"><span class="c0 c1">Администратор собирает данные о статистике посещения Сервиса. Сведения могут содержать соединения, трафик, браузер пользователя, а также о дате, времени, продолжительность работы в сети Интернет и нахождения на Сайте. Такая информация может иметь признаки персональных данных, если она позволяет идентифицировать Вас как конкретное лицо.</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Информация, получаемая администрацией в результате записи Ваших телефонных разговоров с психологом, осуществляется при предоставлении Вам услуг, предусмотренных Договором.</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Полученная таким образом информация, в том числе персональные данные, могут использоваться исключительно в целях обеспечения оценки качества обслуживания, статистики и совершенствование качества услуг, а также для решения дисциплинарных и других вопросов, касающихся работников Администратора и третьих лиц, привлекаемых для оказания Услуг.</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Цели обработки персональных данных.</span></p>
                <p class="c2 c1"><span
                            class="c0 c1">Целями обработки полученных от Вас персональных данных являются:</span></p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - администрирования Сервиса;</span></p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - персонализация сайта, позволяющие получать Услуги в Сервисе;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - направления счетов, напоминаний, сообщений и уведомлений по Услуг, являющихся предметом Договора</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - рассмотрение запросов и жалоб, сделанных Вами по работе Сервиса;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - отправка сообщений по электронной почте, по осуществленным Вами запросам;</span>
                </p>
                <p class="c1 c2"><span class="c0 c1">&nbsp; - оценка качества предоставления услуг;</span></p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - оценка использования различных функций Сервиса;</span></p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - повышение функциональности Сервиса и качества предоставления услуг;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - определение аудитории Сервиса и статистики использования услуг, предоставляемых с использованием Сервиса;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - обеспечения безопасности Сервиса и предотвращения мошенничества;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - статистические и научные цели.</span></p>
                <p class="c2 c1"><span class="c0 c1">Кроме того, предоставленные Вами данные могут использоваться администрацией в маркетинговых целях в соответствии с действующим законодательством Украины. При использовании данных пользователя для прямого маркетинга (коммерческая рассылка и маркетинговые сообщения о новых услугах и предложения, которые могут быть интересны Пользователям), включается ссылка, перейдя по которой пользователь может отказаться от получения таких сообщений в будущем.</span>
                </p>
                <p class="c2 c1 c6"><span class="c0 c1"></span></p>
                <p class="c2 c1"><span class="c4 c1">Категории получателей персональных данных</span></p>
                <p class="c2 c1"><span class="c0 c1">Полученная от Вас информация предназначена исключительно для работников Администратора и лиц, которые будут привлекаться администрацией с целью предоставления услуг, предусмотренных Договором. Раскрытие информации третьим лицам будет осуществляться исключительно в объеме и с целью, предусмотренных настоящей Политикой.</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Ваши Персональные данные могут быть переданы администрацией другим лицам в следующих случаях:</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - необходимости защиты прав и законных интересов Администратора и / или других лиц, привлекаемых для оказания услуг, предусмотренных Договором;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - для защиты от мошеннических действий, злоупотреблений или неправомерного использования Сервиса;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - в случаях, предусмотренных законом, в интересах национальной безопасности, экономического благосостояния и прав человека;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - по обоснованным запросам государственных органов, имеющих право требовать и получать такие данные и информацию;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - предоставление Вами однозначного согласия на передачу Ваших персональных данных третьему лицу.</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Кроме этого, полученная от Вас информация может обрабатываться администрацией в статистических и научных целях. В таком случае информация может передаваться третьим лицам только в обезличенном виде, то есть после удаления сведений, которые позволяют прямо или косвенно идентифицировать Вас как человека. Передача такой информации третьим лицам будет осуществляться без уведомления Вас о факте такой передачи.</span>
                </p>
                <p class="c2 c1"><span class="c4 c1">Период хранения персональных данных</span></p>
                <p class="c2 c1"><span class="c0 c1">Персональные данные подлежат хранению в течение всего срока действия Договора. В случае расторжения Договора полученные от Вас Персональные данные будут сохранены в течение года с даты расторжения Договора.</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Права Пользователей как владельцев персональных данных.</span></p>
                <p class="c2 c1"><span class="c0 c1">При предоставлении Вами персональных данных для обработки, у вас есть следующие права:</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - право на запрос от Администратора доступа к вашим персональным данным;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - право на исправление любых неверных персональных данных о Вас;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - право требовать от Администратора удаления Ваших персональных данных;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - право на ограничение обработки и право на возражение против обработки Ваших персональных данных, а также право на мобильность данных;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - право на отзыв в любой момент Вашего согласия на обработку персональных данных;</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">&nbsp; - право на подачу жалобы по обработке Ваших персональных данных.</span>
                </p>
                <p class="c2 c1"><span class="c5 c1">Для реализации указанных прав, Вам необходимо обратиться с письменным заявлением, направленной на электронный адрес: </span><span
                            class="c9 c5 c1"><a class="c10" href="mailto:goodhelpua@gmail.com">goodhelpua@gmail.com</a></span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Если у Вас есть жалоба по обработке Ваших персональных данных, Вы можете обратиться с ней к Администратору, Уполномоченного Верховной Рады Украины по правам человека или в суд.</span>
                </p>
                <p class="c2 c1"><span class="c4 c1">Условия обеспечения защиты персональных данных</span></p>
                <p class="c2 c1"><span class="c0 c1">Для защиты Ваших персональных данных принимаются все необходимые меры от несанкционированного доступа, изменения, раскрытия или уничтожения с применением соответствующих технических и организационных инструментов.</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Вы несете ответственность за то, чтобы пароль, который используется для доступа к Сервису, был недоступен третьих лиц. Мы не будем спрашивать у Вас пароль (кроме случаев, когда Вы входите в Личный кабинет на Сайте и в Мобильном приложении).</span>
                </p>
                <p class="c2 c1"><span class="c0 c1">Контактная информация.</span></p>
                <p class="c2 c1"><span class="c5 c1">Если у Вас возникнут какие-либо вопросы относительно данной Политики, Вы можете обратиться с соответствующим запросом по следующему адресу: </span><span
                            class="c5 c1 c9"><a class="c10" href="mailto:goodhelpua@gmail.com">goodhelpua@gmail.com</a></span><span
                            class="c5 c1">.</span></p></div>
        {% else %}
            <div class="c1 c7"><p class="c2 c1"><span class="c5"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Дана Політика конфіденційності розроблена на підставі вимог чинного законодавства України та регламенту Європейського парламенту та ради (ЄС) №2016 / 679 від 27.04.2016 (далі – Політика) та є невід'ємною частиною Договору про надання послуг з використанням сервісу GoodHelp (далі – Адміністратор </font></font></span><span
                            class="c5 c1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">. </font></font></span><span
                            class="c0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp;).</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Метою політики є інформування фізичних осіб, які мають намір стати користувачами Сервісу чи його Користувачами, про те, збирання якої саме інформації здійснюється для надання послуг, передбачених Договором, і яким чином вона використовується.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Якщо Ви маєте намір здійснювати користування Сервісом або вже ним користуєтеся, будь ласка, уважно ознайомтеся з цією Політикою. </font><font
                                    style="vertical-align: inherit;">У випадку, якщо Ви будь-якою мірою не погоджуєтесь з умовами, викладеними в цьому документі, просимо Вас утриматися від використання Сервісу.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Факт використання Вами Сервісу є підтвердженням того, що Ви ознайомилися та приймаєте умови цієї Політики у повному обсязі, а також того, що Ви дали згоду на збирання та обробку Ваших персональних даних.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Умови Політики можуть бути змінені будь-коли без персонального повідомлення кожного користувача шляхом публікації нової редакції Політики в Сервісі із зазначенням часу набрання чинності. </font><font
                                    style="vertical-align: inherit;">Продовження Вами Сервісу після набуття чинності Положення у новій редакції свідчить про прийняття Вами нових умов у повному обсязі.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c4"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">загальні положення</font></font></span></p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Визначення термінів, що використовуються в цій Політиці, що відповідає визначенню, наведено в Договорі про надання послуг з використанням сервісу GoodHelp.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Даною політикою визначаються:</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - види інформації, яка збирається за допомогою Сервісу для надання Послуг за Договором;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - Цілі обробки персональних даних, отриманих від Користувачів;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - категорії одержувачів персональних даних;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - Період зберігання персональних даних;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - права Користувачів як власників персональних даних;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - Умови забезпечення захисту персональних даних.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c5 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Особою, яка відповідає за збір та обробку персональних даних, отриманих від Вас в результаті використання Вами Сервісу, є ФОП Лось Дмитро Володимирович (далі - Адміністратор).</font></font></span>
                </p>
                <p class="c8"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Просимо звернути увагу на те, що ця Політика не поширюється на сайти, перехід на які здійснюється за допомогою посилань, розміщених на Сайті та осіб, які надають користувачу суміжні послуги, пов'язані з Договором, зокрема, послуги з здійснення переказів коштів з метою оплати Послуг за Договором . </font><font
                                    style="vertical-align: inherit;">При переході за посиланнями, розміщеними в Сервісі, рекомендуємо ознайомитися з політикою захисту конфіденційності та персональних даних кожного відповідного сайту.</font></font></span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Види інформації, яка збирається за допомогою Сервісу для надання Послуг за Договором.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Звертаємо увагу на те, що надання послуг, передбачених Договором, не вимагає від Вас повідомлення даних або їхньої сукупності, що дозволяють здійснити Вашу однозначну ідентифікацію як конкретної особи, тобто користування Сервісом може бути анонімним.</font></font></span>
                </p>
                <p class="c8"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Здійснення Вашої однозначної ідентифікації як конкретної особи можливе у разі, якщо при використанні Сервісу Вами буде надано інформацію (окремо або в сукупності) про Ваше ім'я, ідентифікаційний номер, дані про місцезнаходження або повідомлено один або кілька факторів, які є визначальними для Вашої фізичної, фізіологічної, генетичної, розумової, економічної, культурної чи соціальної сутності.</font></font></span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c8"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">З метою надання послуг засобами Сервісу запитується мінімальний обсяг інформації, необхідної виключно для ідентифікації Вас як особи, яка є Користувачем Сервісу.</font></font></span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c8"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Інформації, що запитується та збирається адміністрацією є:</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">До такої інформації належить:</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - контактний номер телефону, яким з Вами може бути встановлений зв'язок з метою надання послуг;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - нікнейм, що є ім'ям, яке Ви хочете використовувати у Сервісі, у разі здійснення Вами реєстрації;</font></font></span>
                </p>
                <p class="c8"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Інші Ваші дані, які можуть бути віднесені до Персональних даних (наприклад, Ваше прізвище, ім'я, по батькові, дата та рік народження тощо), Адміністратор збирає тільки в тому випадку, якщо такі дані добровільно надані Вами як суб'єктом персональних даних цілях використання сервісів (наприклад, при здійсненні реєстрації користувача у Сервісі, заповненні заявки на отримання Консультації, розміщеної на Сайті, у процесі отримання послуг). </font><font
                                    style="vertical-align: inherit;">Факт надання Вами таких даних є Вашою згодою як суб'єктом персональних даних на обробку своїх персональних даних відповідно до сформульованої в цій Політиці мети їх обробки.</font></font></span>
                </p>
                <p class="c8"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Адміністратор не збирає будь-яку інформацію, до обробки якої, законодавством встановлено певні вимоги, як то інформацію про расове чи етнічне походження, політичні, релігійні чи світоглядні переконання, членство в політичних партіях та професійних спілках, засудження до кримінального покарання у скоєнні злочину чи засудження до кримінального. покаранню, а також даних щодо здоров'я, статевого життя, біометричних чи генетичних даних (згідно зі статтею 7 Закону України «Про захист персональних даних», статті 9 регламенту Європейського парламенту та ради (ЄС) №2016/679 від 27.04.2016).</font></font></span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c8"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Зазначена у попередньому абзаці інформація може оброблятися адміністрацією виключно у разі добровільного надання Вами такої інформації при наданні послуг та у разі надання Вами однозначної окремої згоди на її обробку для однієї чи кількох певних цілей обробки такої інформації.</font></font></span>
                </p>
                <p class="c3"><span class="c0 c1"></span></p>
                <p class="c2 c1"><span class="c4 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Інформація про використання Вами Сервісу</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Адміністратор збирає дані про статистику відвідування Сервісу. </font><font
                                    style="vertical-align: inherit;">Інформація може містити з'єднання, трафік, браузер користувача, а також про дату, час, тривалість роботи в мережі Інтернет та знаходження на Сайті. </font><font
                                    style="vertical-align: inherit;">Така інформація може мати ознаки персональних даних, якщо вона дозволяє Вам ідентифікувати як конкретну особу.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Інформація, яку отримує адміністрація в результаті запису Ваших телефонних розмов з психологом, здійснюється при наданні Вам послуг, передбачених Договором.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Отримана таким чином інформація, у тому числі персональні дані, можуть використовуватися виключно з метою забезпечення оцінки якості обслуговування, статистики та вдосконалення якості послуг, а також для вирішення дисциплінарних та інших питань, що стосуються працівників Адміністратора та третіх осіб, які залучаються для надання послуг.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Цілі обробки персональних даних.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Цілями обробки отриманих від Вас персональних даних є:</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - адміністрування Сервісу;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - Персоналізація сайту, що дозволяють отримувати Послуги в Сервісі;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - направлення рахунків, нагадувань, повідомлень та повідомлень щодо Послуг, які є предметом Договору</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - розгляд запитів та скарг, зроблених Вами щодо роботи Сервісу;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - надсилання повідомлень електронною поштою, за здійсненими Вами запитами;</font></font></span>
                </p>
                <p class="c1 c2"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - Оцінка якості надання послуг;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - Оцінка використання різних функцій Сервісу;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - підвищення функціональності Сервісу та якості надання послуг;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - Визначення аудиторії Сервісу та статистики використання послуг, що надаються з використанням Сервісу;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - забезпечення безпеки Сервісу та запобігання шахрайству;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - статистичні та наукові цілі.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Крім того, надані Вами дані можуть використовуватися адміністрацією з маркетинговою метою відповідно до чинного законодавства України. </font><font
                                    style="vertical-align: inherit;">При використанні даних користувача для прямого маркетингу (комерційне розсилання та маркетингові повідомлення про нові послуги та пропозиції, які можуть бути цікаві Користувачам), включається посилання, перейшовши яким користувач може відмовитися від отримання таких повідомлень у майбутньому.</font></font></span>
                </p>
                <p class="c2 c1 c6"><span class="c0 c1"></span></p>
                <p class="c2 c1"><span class="c4 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Категорії одержувачів персональних даних</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Отримана від Вас інформація призначена виключно для працівників Адміністратора та осіб, які залучатимуться адміністрацією з метою надання послуг, передбачених Договором. </font><font
                                    style="vertical-align: inherit;">Розкриття інформації третім особам здійснюватиметься виключно в обсязі та з метою, передбаченими цією Політикою.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Ваші персональні дані можуть бути передані адміністрацією іншим особам у таких випадках:</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - необхідності захисту прав та законних інтересів Адміністратора та/або інших осіб, які залучаються для надання послуг, передбачених Договором;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - для захисту від шахрайських дій, зловживань чи неправомірного використання Сервісу;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - у випадках, передбачених законом, на користь національної безпеки, економічного добробуту та прав людини;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - за обґрунтованими запитами державних органів, які мають право вимагати та отримувати такі дані та інформацію;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - надання Вами однозначної згоди на передачу Ваших персональних даних третій особі.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Окрім цього, отримана від Вас інформація може опрацьовуватися адміністрацією в статистичних та наукових цілях. </font><font
                                    style="vertical-align: inherit;">У такому разі інформація може передаватися третім особам лише у знеособленому вигляді, тобто після видалення відомостей, які дозволяють прямо чи опосередковано ідентифікувати Вас як людину. </font><font
                                    style="vertical-align: inherit;">Передача такої інформації третім особам буде здійснюватись без повідомлення Вас про факт такої передачі.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c4 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Період зберігання персональних даних</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Персональні дані зберігаються протягом усього терміну дії Договору. </font><font
                                    style="vertical-align: inherit;">У разі розірвання Договору, отримані від Вас Персональні дані будуть збережені протягом року з дати розірвання Договору.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Права Користувачів як власників персональних даних.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">При наданні Вами персональних даних для обробки, у вас є такі права:</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - право на запит від Адміністратора доступу до ваших персональних даних;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - право на виправлення будь-яких невірних персональних даних про Вас;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - право вимагати від Адміністратора видалення Ваших персональних даних;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - право на обмеження обробки та право на заперечення проти обробки Ваших персональних даних, а також право на мобільність даних;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - право на відкликання у будь-який момент Вашої згоди на обробку персональних даних;</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">&nbsp; - право на подання скарги щодо обробки Ваших персональних даних.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c5 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Для реалізації зазначених прав Вам необхідно звернутися з письмовою заявою, надісланою на електронну адресу: </font></font></span><span
                            class="c9 c5 c1"><a class="c10" href="mailto:goodhelpua@gmail.com"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">goodhelpua@gmail.com</font></font></a></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Якщо у Вас є скарга щодо опрацювання Ваших персональних даних, Ви можете звернутися з нею до Адміністратора, Уповноваженого Верховної Ради України з прав людини або до суду.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c4 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Умови забезпечення захисту персональних даних</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Для захисту Ваших персональних даних вживаються всі необхідні заходи від несанкціонованого доступу, зміни, розкриття чи знищення із застосуванням відповідних технічних та організаційних інструментів.</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Ви несете відповідальність за те, щоб пароль, який використовується для доступу до Сервісу, недоступний третім особам. </font><font
                                    style="vertical-align: inherit;">Ми не будемо запитувати у Вас пароль (крім випадків, коли Ви входите до Особистого кабінету на Сайті та в Мобільному додатку).</font></font></span>
                </p>
                <p class="c2 c1"><span class="c0 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Контактна інформація.</font></font></span></p>
                <p class="c2 c1"><span class="c5 c1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Якщо у Вас виникнуть будь-які питання щодо цієї Політики, Ви можете звернутися з відповідним запитом на наступну адресу: </font></font></span><span
                            class="c5 c1 c9"><a class="c10" href="mailto:goodhelpua@gmail.com"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">goodhelpua@gmail.com</font></font></a></span><span
                            class="c5 c1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></span>
                </p></div>
        {% endif %}
    </div>
{% endblock %}