{% extends '@landing/layout/main.html.twig' %}

{% block content %}
    <div class="card text-center mt-5">
        <div class="card-header">
            Контент психологам
        </div>
        <div class="card-body">
            <p class="card-text">Тут будет большой и клевый контент лендинг страницы для привлечения психологов. с кучей вкусняшек чтобы у нас быть</p>
            <a href="#" class="btn btn-success">Податься в наши психологи</a>
        </div>
        <div class="card-footer text-muted">
            Тут и там
        </div>
    </div>
{% endblock %}