{% extends '@landing/layout/main.html.twig' %}

{% block page_title %}
    {{ 'Условия пользования сервисом GoodHelp'|trans }}
{% endblock %}

{% block content %}
    <div>
        <div style="max-width: 60rem; margin: 2rem auto;">
            <style type="text/css">
                ol.lst-kix_list_1-3 {
                    list-style-type: none
                }

                ol.lst-kix_list_1-4 {
                    list-style-type: none
                }

                ol.lst-kix_list_1-5 {
                    list-style-type: none
                }

                ol.lst-kix_list_1-6 {
                    list-style-type: none
                }

                ol.lst-kix_list_1-0 {
                    list-style-type: none
                }

                .lst-kix_list_1-4 > li {
                    counter-increment: lst-ctn-kix_list_1-4
                }

                ol.lst-kix_list_1-1 {
                    list-style-type: none
                }

                ol.lst-kix_list_1-2 {
                    list-style-type: none
                }

                ol.lst-kix_list_1-6.start {
                    counter-reset: lst-ctn-kix_list_1-6 0
                }

                .lst-kix_list_1-1 > li {
                    counter-increment: lst-ctn-kix_list_1-1
                }

                ol.lst-kix_list_1-3.start {
                    counter-reset: lst-ctn-kix_list_1-3 0
                }

                ol.lst-kix_list_1-2.start {
                    counter-reset: lst-ctn-kix_list_1-2 0
                }

                ol.lst-kix_list_1-8.start {
                    counter-reset: lst-ctn-kix_list_1-8 0
                }

                .lst-kix_list_1-0 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) ". "
                }

                ol.lst-kix_list_1-5.start {
                    counter-reset: lst-ctn-kix_list_1-5 0
                }

                ol.lst-kix_list_1-7 {
                    list-style-type: none
                }

                .lst-kix_list_1-1 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) "." counter(lst-ctn-kix_list_1-1, decimal) ". "
                }

                .lst-kix_list_1-2 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) "." counter(lst-ctn-kix_list_1-1, decimal) "." counter(lst-ctn-kix_list_1-2, decimal) ". "
                }

                .lst-kix_list_1-7 > li {
                    counter-increment: lst-ctn-kix_list_1-7
                }

                ol.lst-kix_list_1-8 {
                    list-style-type: none
                }

                .lst-kix_list_1-3 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) "." counter(lst-ctn-kix_list_1-1, decimal) "." counter(lst-ctn-kix_list_1-2, decimal) "." counter(lst-ctn-kix_list_1-3, decimal) ". "
                }

                .lst-kix_list_1-4 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) "." counter(lst-ctn-kix_list_1-1, decimal) "." counter(lst-ctn-kix_list_1-2, decimal) "." counter(lst-ctn-kix_list_1-3, decimal) "." counter(lst-ctn-kix_list_1-4, decimal) ". "
                }

                ol.lst-kix_list_1-0.start {
                    counter-reset: lst-ctn-kix_list_1-0 0
                }

                .lst-kix_list_1-0 > li {
                    counter-increment: lst-ctn-kix_list_1-0
                }

                .lst-kix_list_1-6 > li {
                    counter-increment: lst-ctn-kix_list_1-6
                }

                .lst-kix_list_1-7 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) "." counter(lst-ctn-kix_list_1-1, decimal) "." counter(lst-ctn-kix_list_1-2, decimal) "." counter(lst-ctn-kix_list_1-3, decimal) "." counter(lst-ctn-kix_list_1-4, decimal) "." counter(lst-ctn-kix_list_1-5, decimal) "." counter(lst-ctn-kix_list_1-6, decimal) "." counter(lst-ctn-kix_list_1-7, decimal) ". "
                }

                .lst-kix_list_1-3 > li {
                    counter-increment: lst-ctn-kix_list_1-3
                }

                .lst-kix_list_1-5 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) "." counter(lst-ctn-kix_list_1-1, decimal) "." counter(lst-ctn-kix_list_1-2, decimal) "." counter(lst-ctn-kix_list_1-3, decimal) "." counter(lst-ctn-kix_list_1-4, decimal) "." counter(lst-ctn-kix_list_1-5, decimal) ". "
                }

                .lst-kix_list_1-6 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) "." counter(lst-ctn-kix_list_1-1, decimal) "." counter(lst-ctn-kix_list_1-2, decimal) "." counter(lst-ctn-kix_list_1-3, decimal) "." counter(lst-ctn-kix_list_1-4, decimal) "." counter(lst-ctn-kix_list_1-5, decimal) "." counter(lst-ctn-kix_list_1-6, decimal) ". "
                }

                ol.lst-kix_list_1-7.start {
                    counter-reset: lst-ctn-kix_list_1-7 0
                }

                .lst-kix_list_1-2 > li {
                    counter-increment: lst-ctn-kix_list_1-2
                }

                .lst-kix_list_1-5 > li {
                    counter-increment: lst-ctn-kix_list_1-5
                }

                .lst-kix_list_1-8 > li {
                    counter-increment: lst-ctn-kix_list_1-8
                }

                ol.lst-kix_list_1-4.start {
                    counter-reset: lst-ctn-kix_list_1-4 0
                }

                .lst-kix_list_1-8 > li:before {
                    content: "" counter(lst-ctn-kix_list_1-0, decimal) "." counter(lst-ctn-kix_list_1-1, decimal) "." counter(lst-ctn-kix_list_1-2, decimal) "." counter(lst-ctn-kix_list_1-3, decimal) "." counter(lst-ctn-kix_list_1-4, decimal) "." counter(lst-ctn-kix_list_1-5, decimal) "." counter(lst-ctn-kix_list_1-6, decimal) "." counter(lst-ctn-kix_list_1-7, decimal) "." counter(lst-ctn-kix_list_1-8, decimal) ". "
                }

                ol.lst-kix_list_1-1.start {
                    counter-reset: lst-ctn-kix_list_1-1 0
                }

                ol {
                    margin: 0;
                    padding: 0
                }

                table td, table th {
                    padding: 0
                }

                .c1 {
                    background-color: #ffffff;
                    margin-left: 15pt;
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: justify;
                    margin-right: 15pt
                }

                .c0 {
                    background-color: #ffffff;
                    margin-left: 15pt;
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: center;
                    margin-right: 15pt
                }

                .c13 {
                    background-color: #ffffff;
                    margin-left: 15pt;
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: left;
                    margin-right: 15pt
                }

                .c16 {
                    background-color: #ffffff;
                    margin-left: 14.2pt;
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: justify;
                    margin-right: 15pt
                }

                .c7 {
                    background-color: #ffffff;
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: justify;
                    margin-right: 15pt;
                    height: 11pt
                }

                .c12 {
                    background-color: #ffffff;
                    margin-left: 9pt;
                    padding-top: 8pt;
                    padding-bottom: 15pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: justify
                }

                .c11 {
                    background-color: #ffffff;
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: center;
                    margin-right: 15pt
                }

                .c3 {
                    color: #000000;
                    font-weight: 700;
                    text-decoration: none;
                    vertical-align: baseline;
                    font-size: 12pt;
                    font-style: normal
                }

                .c23 {
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: justify;
                    margin-right: 15pt
                }

                .c20 {
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.7;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }

                .c2 {
                    -webkit-text-decoration-skip: none;
                    font-weight: 400;
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                    font-size: 12pt;
                }

                .c18 {
                    background-color: #ffffff;
                    font-size: 13pt;
                    font-weight: 700
                }

                .c5 {
                    color: #000000;
                    text-decoration: none;
                    vertical-align: baseline;
                    font-style: normal
                }

                .c4 {
                    font-size: 12pt;
                    font-weight: 400
                }

                .c10 {
                    color: #000000;
                    text-decoration: none;
                    vertical-align: baseline
                }

                .c19 {
                    background-color: #ffffff;
                }

                .c8 {
                    font-size: 12pt;
                    font-weight: 700
                }

                .c21 {
                    font-weight: 700;
                    font-size: 13pt;
                }

                .c14 {
                    color: inherit;
                    text-decoration: inherit
                }

                .c15 {
                    margin-left: 14.2pt;
                    text-indent: 14.7pt
                }

                .c17 {
                    text-indent: 14.7pt
                }

                .c6 {
                    font-style: italic
                }

                .c22 {
                    background-color: #ffffff
                }

                .c9 {
                    height: 11pt
                }

                .title {
                    padding-top: 0pt;
                    color: #000000;
                    font-size: 26pt;
                    padding-bottom: 3pt;
                    line-height: 1.7;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }

                .subtitle {
                    padding-top: 0pt;
                    color: #666666;
                    font-size: 15pt;
                    padding-bottom: 16pt;
                    line-height: 1.7;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }

                li {
                    color: #000000;
                    font-size: 11pt;
                }

                p {
                    margin: 0;
                    color: #000000;
                    font-size: 11pt;
                }

                h1 {
                    padding-top: 20pt;
                    color: #000000;
                    font-size: 20pt;
                    padding-bottom: 6pt;
                    line-height: 1.7;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }

                h2 {
                    padding-top: 18pt;
                    color: #000000;
                    font-size: 16pt;
                    padding-bottom: 6pt;
                    line-height: 1.7;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }

                h3 {
                    padding-top: 16pt;
                    color: #434343;
                    font-size: 14pt;
                    padding-bottom: 4pt;
                    line-height: 1.7;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }

                h4 {
                    padding-top: 14pt;
                    color: #666666;
                    font-size: 12pt;
                    padding-bottom: 4pt;
                    line-height: 1.7;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }

                h5 {
                    padding-top: 12pt;
                    color: #666666;
                    font-size: 11pt;
                    padding-bottom: 4pt;
                    line-height: 1.7;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }

                h6 {
                    padding-top: 12pt;
                    color: #666666;
                    font-size: 11pt;
                    padding-bottom: 4pt;
                    line-height: 1.7;
                    page-break-after: avoid;
                    font-style: italic;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }</style>

            {% if app.request.locale == 'ru' %}
                {% include '@landing/partials/pages/_terms-of-use-ru.html.twig' %}
            {% else %}
                {% include '@landing/partials/pages/_terms-of-use-ua.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}