{% extends '@staff/layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Тут что-то будет</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}