.gh-error {
  z-index: 1;
  position: absolute;
  bottom: 90%;
  left: 2.4rem;

  border: 1px solid #FF0000;
  border-radius: 4px;
  background: #FFFFFF;
  color: #FF0000;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;

  padding: .5rem 1rem;

  &::before {
    position: absolute;
    bottom: -0.9rem;
    left: 1rem;
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;

    border-top: 9px solid #f00;
  }

  &::after {
    position: absolute;
    bottom: -0.75rem;
    left: 1rem;
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;

    border-top: 9px solid #fff;
  }

  &--carrot {
    border-color: $color-primary-carrot-1;
    color: $color-primary-carrot-1;
    line-height: 1.3;


    &::before {
      border-top-color: $color-primary-carrot-1;
    }
  }

  &--olive {
    border-color: $color-primary-olive-1;
    color: $color-primary-olive-1;
    line-height: 1.3;

    &::before {
      border-top-color: $color-primary-olive-1;
    }
  }
}