.gh-input {
  position: relative;

  &-text {

    background: #FFFFFF;
    border: 1px solid #E7E7E7;

    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    width: 100%;

    padding: 1.4rem 3rem;

    &:active, &:focus {
      border: 1px solid #D4D45E;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.08);
      outline: none;
    }

    &::placeholder {
      color: $color-grey-4;
    }
  }
}