.ghl-social-icon {
  background-color: $color-white-1;
  border-radius: 50%;
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;

  @include tablet-full {
    width: 3rem;
    height: 3rem;

    padding: .8rem;
  }

  box-shadow: 0 1.5rem 5rem rgba($color-black-1, 0.05), 0 .3 1rem rgba($color-black-1, 0.025);

  & > svg {
    max-width: 100%;
    max-height: 100%;
  }

  & > svg path {
    fill: $color-black-2;

  }

  &:hover {
    background-color: scale-color($color-white-1, $lightness: -2%);
    cursor: pointer;
  }
}