.gh-switch {
  color: $color-black-2;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;

  border: .1rem solid $color-grey-4;
  border-radius: 6.3rem;
  text-align: center;
  background-color: transparent;

  padding: 1rem 2rem;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    border: .1rem solid $color-primary-olive-2;
  }

  &--active {
    background-color: $color-primary-olive-2;
    border: .1rem solid $color-primary-olive-2;
  }
}

.gh-switch-new {
  &__input {
    display: none;
  }

  &__label {
    display: flex;
    justify-content: center;

    color: $color-black-2;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;

    border: .1rem solid $color-grey-4;
    border-radius: 6.3rem;
    text-align: center;
    background-color: transparent;

    padding: 1rem 2rem;
    transition: all .2s;

    &:hover {
      cursor: pointer;
      border: .1rem solid $color-primary-olive-2;
    }

    //&__input:checked + &__label {
    //  background-color: $color-primary-olive-2;
    //  border: .1rem solid $color-primary-olive-2;
    //}
  }

  &__input:checked+&__label {
    background-color: $color-primary-olive-2;
    border: .1rem solid $color-primary-olive-2;
  }
}