.ghl-fifth-screen {
  background: $color-primary-olive-4;
  padding-top: 12rem;
  padding-bottom: 12rem;
  overflow: hidden;

  @include mobile {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__h2 {
      text-align: center;
    }
  }

  @include tablet-full {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.ghl-reviews {
  margin-top: 4rem;
  position: relative;

  @include mobile {
    margin-top: 2.5rem;
  }

  &__pagination {
    text-align: center;
    margin-top: 2rem;

    &.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal > .swiper-pagination-bullet {
      background: $color-grey-2;
      border: .1px solid $color-white-1;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      opacity: 1;

      &-active {
        background: $color-primary-carrot-1;
        border: none;
      }
    }
  }

  &__list {
    display: flex;

    &.swiper-wrapper {
      height: auto;
    }

    &-item {
      width: 37rem;

      padding: 3rem;

      background: $color-white-1;

      border-radius: 3rem;
      box-sizing: border-box;

      @include mobile {
        width: 28.9rem;
        border-radius: 1rem;
        padding: 2rem 1.5rem;
      }

      @include tablet-full {
        width: 33.1rem;
        padding: 2rem 1rem;
        border-radius: 1rem;
      }

      @include mobile {
        &-text {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      @include tablet-full {
        &-text {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &-avatar {
        max-width: 7rem;

        @include mobile {
          max-width: 11.5rem;
        }

        @include tablet-full {
          max-width: 11.5rem;
        }
      }

      &-head {
        display: flex;
        gap: 2rem;

        @include mobile {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }

        @include tablet-full {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
      }

      &-name {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2;
      }

      &-role {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2;

        margin-top: .4rem;
      }

      &-profile {
        margin-top: .8rem;

        color: $color-grey-1;

        display: flex;
        align-items: center;
        gap: .5rem;

        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2;

        & > svg {
          fill: $color-grey-1;
        }
      }

      &-body {
        margin-top: 2rem;

        @include mobile {
          margin-top: 1rem;
        }

        @include tablet-full {
          margin-top: 1rem;
        }
      }

      &-review-content {
        margin-top: .8rem;

        font-size: 1.4rem;
        line-height: 1.4;
      }
    }
  }

  &__controls {
    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    &-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:hover rect {
        fill: scale-color($color-primary-carrot-1, $lightness: 20%);
        cursor: pointer;
      }

      &--left {
        left: -8rem;
      }

      &--right {
        right: -8rem;
      }
    }
  }
}