.ghl-first-screen {
  margin-top: 4.9rem;
  @include mobile {
    margin-top: 3.5rem;
  }

  position: relative;

  &__soft-light {
    position: absolute;
    left: -120rem;

    width: 127rem;
    height: 96.3rem;
    background: $soft-light-gradient;
  }

  &__left {
    @include mobile {
      display: none;
    }

    position: absolute;
    left: 0;
    top: 0;

    &-social {
      position: absolute;
      z-index: 10;

      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      margin-top: 36.1rem;
      margin-left: 5rem;

      &--middle-mobile {
        display: none;

        @include mobile {
          display: flex;
          margin-top: 8rem;
          left: -1rem;
          margin-left: 0;
        }

      }

      @include tablet-full {
        margin-left: 2.1rem;
        margin-top: 29.1rem;
      }

      @media (min-width: 768px) and (max-width: 900px) {
        //margin-left: 3.8rem;
        margin-left: calc(3.8rem + 50.746vw - 38.9714rem);
        margin-top: 42.1rem;
        flex-direction: row;
        //10.5rem
      }

      @include desktop-small {
        margin-top: 50.1rem;
        margin-left: calc(-20.4rem + 50.746vw - 38.9714rem);
        flex-direction: row;
      }

    }
  }

  &__middle {
    position: relative;

    &-from-any-point {
      font-size: 1.6rem;
      letter-spacing: 0.325rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding-left: 0.6rem;
      padding-top: .2rem;

      &-dash {
        width: 2.5rem;
        height: .1rem;
        background-color: $color-black-1;
        margin-right: 1.2rem;
      }

      @include mobile {
        font-size: 1.2rem;
      }

      @include tablet-full {
        font-size: 1.2rem;
      }

      @include desktop-small {
        font-size: 1.4rem;
      }
    }

    &-main-phrase {
      font-size: 6rem;
      max-width: 67rem;
      font-weight: 500;
      line-height: 1.2;
      padding-left: 0.2rem;
      margin-top: 3rem;
      margin-bottom: 3.3rem;

      @include mobile {
        font-size: 3.5rem;

        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

      @include tablet-full {
        font-size: 4rem;

        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      @include desktop-small {
        font-size: 5rem;

        margin-top: 2rem;
        margin-bottom: 2.2rem;
      }
    }

    &-description {
      font-size: 1.82rem;
      padding-left: .5rem;
      max-width: 56.6rem;
      line-height: 1.7;
      font-weight: 300;

      &-wrapper {
        position: relative;
      }

      @include mobile {
        font-size: 1.6rem;
        line-height: 1.4;
        max-width: 26rem;
      }

      @include tablet-full {
        font-size: 1.6rem;
        line-height: 1.4;
        max-width: 39rem;
      }

      @include desktop-small {
        font-size: 1.7rem;
        line-height: 1.4;
        max-width: 45rem;
      }
    }

    &-cool-arrow {
      position: absolute;
      left: -51.5px;
      top: 43px;

      @include mobile {
        right: 2rem;
        top: -8rem;
        left: initial;
        transform: scaleX(-1);
      }

      @include tablet-full {
        left: -48.5px;
        top: 11px;
      }

      @media (min-width: 1200px) and (max-width: 1270px) {
        display: none;
      }

      @media (max-width: 900px) {

        left: calc(-3.05rem - 11.36vw + 8.725rem);
        top: calc(2.2rem - (23.313vw - 18.9rem) * 0.5);

        & > svg {
          //width: 2.5rem;
          width: calc(2.5rem + 11.36vw - 8.725rem);
          height: auto;
        }
      }
    }

    &-select-psiholog-second-wrapper {
      padding: 1rem;
      display: inline-block;
      border: 1px solid rgba($color-black-1, 0.1);
      border-radius: 6rem;

      @include mobile {
        padding: .5rem;
      }

      @include tablet-full {
        padding: .5rem;
      }

      @include desktop-small {
        padding: .75rem;
      }
    }

    &-select-psiholog-first-wrapper {
      padding: 2rem;
      display: inline-block;
      border: 1px solid rgba($color-black-1, 0.03);
      border-radius: 6rem;

      @include mobile {
        padding: .8rem;
      }

      @include tablet-full {
        padding: .8rem;
      }

      @include desktop-small {
        padding: 1rem;
      }
    }

    &-select-psiholog-zero-wrapper {
      margin-top: 1.5rem;
      margin-left: -2.5rem;
      display: flex;
      align-items: center;
      gap: 1.3rem;

      @include mobile {
        gap: .4rem;
        margin-left: -1.3rem;
        margin-top: .7rem;
        white-space: nowrap;
      }

      @include tablet-full {
        gap: .4rem;

        margin-left: -1rem;
      }

      @include desktop-small {
        gap: .8rem;

        margin-left: -1rem;
      }
    }

    &-advantages-wrapper {
      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 1.85rem;
        margin-top: 1.8rem;
      }
    }

    &-advantage {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.2;

      @include mobile {
        font-size: 1.2rem;
      }

      @include tablet-full {
        font-size: 1.2rem;
      }

      @include desktop-small {
        font-size: 1.3rem;
      }

      &-group {
        display: flex;
        gap: 3.7rem;
        margin: 1.8rem 0;

        @include mobile {
          flex-direction: column;
          gap: 1.8rem;
          margin: 0;
        }

        @include tablet-full {
          gap: 1.8rem;
        }

        @include desktop-small {
          gap: 2.2rem;
        }
      }
    }
  }

  &__right {
    position: absolute;
    right: 0;

    z-index: -1;

    top: -13.5rem;
    width: 90rem;
    height: 100rem;
    overflow: hidden;

    @include mobile {
      width: 100%;
      height: 70rem;
      top: initial;
      right: 0;
      margin-top: -7.5rem;
    }

    @include tablet-full {
      overflow: hidden;
      width: 50rem;
      height: 70rem;
      top: -10.4rem;
    }

    @include tablet-small {
      top: -6rem;
    }

    &-bulb {
      position: absolute;
      right: -7rem;
      top: -2.6rem;
      z-index: -10;
      overflow: hidden;
      width: 82rem;
      height: auto;

      @include mobile {
        width: 40rem;
        right: -2rem;
        top: 1.4rem;
      }

      @include tablet-small {
        right: -4rem;
        top: -1.6px;
        width: 46rem;
      }

      @include tablet-big {
        right: -3rem;
        top: -28.6px;
        width: 56rem;
      }
    }

    &-bulb-soft-light {
      position: absolute;

      width: 200%;
      height: 100%;

      //width: 127rem;
      //height: 96.3rem;
      left: 5rem;
      top: 3rem;

      background: $soft-light-gradient;
    }

    &-dima {
      position: absolute;
      right: 45.7rem;
      top: 48.2rem;
      z-index: 2;
      display: flex;
      align-items: center;
      background-color: rgba($color-white-1, 0.9);
      padding: 1rem 1.4rem;
      border-radius: 0.35rem;
    }

    &-notebook {
      position: absolute;
      right: -1.6rem;
      top: 12.8rem;
      width: 60rem;

      @include mobile {
        width: 31.3rem;
        right: -3rem;
        top: 9rem;
      }

      @include tablet-full {
        width: 41rem;
        top: 12.8rem;
      }

      @include tablet-small {
        right: -7rem;
        top: 8.6rem;
      }

      @include tablet-big {
        right: 0;
        top: 8.4rem;
      }
    }

    &-phone {
      position: absolute;
      right: 39rem;
      top: 21.8rem;
      width: 17rem;

      @include mobile {
        right: 18rem;
        top: 14rem;
        width: 9.2rem;
      }

      @include tablet-small {
        right: 19rem;
        top: 15.4rem;
        width: 12rem;
      }

      @include tablet-big {
        width: 12rem;

        right: 25.6rem;
        top: 15.8rem;
      }
    }
  }
}

.ghl__message {
  @include mobile {
    display: none;
  }

  @include tablet-full {
    display: none;
  }


  &-avatar-wrapper {
    width: 4rem;
  }

  &-info-wrapper {
    margin-left: 1rem;
    height: 100%;
  }

  &-info-header {
    font-weight: 700;
    margin-bottom: .4rem;
    font-size: 1.4rem;
  }

  &-info-text {
    font-size: 1.2rem;
  }
}

.ghl-about-video-btn {
  display: flex;
  align-items: center;
  gap: .9rem;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 500;

  &__description {
    @include mobile {
      display: none;
    }

    @include tablet-full {
      max-width: 11.2rem;
    }
  }
}