.ghl-seventh-screen {
  margin-bottom: 12rem;

  @include mobile {
    margin-bottom: 5rem;
  }

  @include tablet-full {
    margin-bottom: 7rem;
  }

  &__main-block {
    overflow: hidden;
    border-radius: 4rem;
    background: $color-white-1;

    box-shadow: 0 54px 116px rgba(0, 0, 0, 0.05), 0 6.76164px 15.6937px rgba(0, 0, 0, 0.025);

    display: flex;

    @include mobile {
      flex-direction: column;
      border-radius: 1rem;
      gap: 2rem;
    }

    @include tablet-full {
      border-radius: 2.3rem;
    }
  }

  &__logo {
    @include mobile {
      text-align: center;
    }

    & > svg {
      @include mobile {
        width: 18.7rem;
        height: auto;
      }
      @include tablet-full {
        width: 18.4rem;
        height: auto;
      }
    }
  }

  &__column-one {
    padding: 4rem 0 4rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 3.1rem;

    @include mobile {
      padding: 3rem 1.5rem 0 1.5rem;
      gap: 2rem;
    }

    @include tablet-full {
      padding: 2.5rem 1.5rem 2.5rem 3rem;
      gap: 2rem;
      flex-shrink: 0;
      width: 50%;
    }

    & > h3 {
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 1.3;
      margin: 0;

      @include mobile {
        font-size: 2rem;
        text-align: center;
      }

      @include tablet-full {
        font-size: 2rem;
      }
    }
  }

  &__column-two {
    margin-left: auto;
    position: relative;

    @include desktop {
      height: 40.3rem;
      width: 62.3rem;
    }
  }

  &__waves {
    @include desktop {
      height: 100%;

      & > svg {
        height: 100%;
        width: auto;
      }
    }

    @include mobile {
      transform: translateX(-18%) translateY(25%) rotate(90deg);

      margin-top: 0.7rem;

      & > svg {
        width: 45rem;
        height: auto;
      }
    }
    @include tablet-full {
      height: 100%;
      & > svg {
        width: 37.3rem;
        height: auto;
      }
      flex-shrink: 0;
      width: 50%;
    }
  }

  &__boy-and-girl {
    position: absolute;
    bottom: 0;
    right: 8rem;
    max-width: 37.2rem;

    @include mobile {
      //top: 9.3rem;
      right: 20.1rem;
      max-width: 21.3rem;
    }

    @include tablet-full {
      right: 5rem;
      max-width: 21.7rem;
    }
  }
}