<div class="card mt-3 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        {% if text is defined %}
        <div class="card-text profile__specialization-container">
            {{ text|trans }}
        </div>
        {% endif %}
    </div>
</div>