{% if failedToBook %}
    <div class="row" id="failed-to-book">
        <div class="col-12 mt-2">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-text text-danger">
                        К сожалению выбранное вам время больше недоступно.
                        Выберите, пожалуйста другое время.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}