<div class="row align-items-center">
    <h1 class="col-8 profile__name">
        {{ name|trans }}
    </h1>
    <div class="col-4 profile__price text-end">
        <span class="text-nowrap">
            <span class="profile__price-amount">
                {{ price }}
            </span>
            <span class="profile__price-currency">
                {{ currency }}
            </span>
        </span>
    </div>
</div>