{% extends '@psiholog/pages/payments/payments-layout.html.twig' %}

{% block paymentsLayoutContent %}
    <div class="accordion accordion-outline">
        <div class="card">
            <div class="card-header" id="headingOne6">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne6" aria-expanded="true" aria-controls="collapseOne6">
                    <i class="flaticon-folder-1"></i> Итого к выплате: 6500 ₴
                </div>
            </div>
            <div id="collapseOne6" class="card-body-wrapper collapse show" aria-labelledby="headingOne6" data-parent="#accordionExample6" style="">
                <div class="card-body">
                    <div class="kt-list kt-list--badge">
                        <div class="kt-list__item">
                            <span class="kt-list__text">За период с 2021-07-21 по 2021-08-21. Следующая выплата 2021-08-23. (Каждый месяц 15го числа и в последний день месяца) </span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--success"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--danger"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--focus"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--primary"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--info"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--warning"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--brand"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--success"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--danger"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--focus"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--primary"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--info"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--warning"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--brand"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--success"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--danger"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--focus"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--primary"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--info"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--warning"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                        <div class="kt-list__item">
                            <span class="kt-list__badge kt-list__badge--brand"></span>
                            <span class="kt-list__text">Сергей Протеинович. 2021-07-21 14:00</span>
                            <span class="kt-list__time kt-font-bold">1500 ₴</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}