$color-black-1: #000;
$color-black-2: #202020;
$color-white-1: #fff;

$color-grey-1: #9F9F9F;
$color-grey-2: #DEDEDE;
$color-grey-3: #E7E7E7;
$color-grey-4: #B7B7B7;
$color-grey-5: #ECECEC;

$color-primary-olive-1: #D5D55E;
$color-primary-olive-2: #D4D45E;
$color-primary-olive-3: #F5F5DE;
$color-primary-olive-4: #F4F8EB;
$color-primary-olive-5: #B6B626;

$color-primary-carrot-1: #EF9665;
$color-primary-carrot-2: #F9C7AC;
$color-primary-carrot-3: #D57743;
$color-primary-carrot-4: #F7CBB2;

$color-yellow-olive-1: #FAFAB5;
$color-yellow-orange-1: #FFEBAB;

$color-background-semi-white-1: #FDFDFD;

$header-top-padding: 2.6rem;
$header-height: $header-top-padding + 6rem;

$box-shadow-1: 0 5.4rem 11.6rem rgba($color-black-1, 0.05), 0 .676164rem 1.56937rem rgba($color-black-1, 0.025);


$soft-light-gradient: radial-gradient(50% 50% at 50% 50%, rgba(213, 213, 94, 0.5) 0%, rgba(211, 211, 94, 0.3) 27.6%, rgba(211, 211, 94, 0.24) 57.81%, rgba(212, 212, 94, 0) 100%);